/*-------------------------------------------------------------------------------*/
/*----------------------------------- COLOURS -----------------------------------*/
/*-------------------------------------------------------------------------------*/

//GRAYSCALE
$white:				#ffffff;
$brand-white:		#f7f7f7;
$brand-gray:		#babcbe;
$brand-black: 		#1a1a1a;

//HUES
$brand-carmine:		#b20a38;
$brand-fireball:	#c81414;
$brand-cerulean:	#00acee;
$brand-yellow:		#fff81a;
$brand-emerald:		#39d669;
$brand-navy:		#11284d;

$brand-carmine_hover: #990930;
