/*-------------------------------------------------------------------------------*/
/*------------------------------------ FONTS ------------------------------------*/
/*-------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'),
         local('Roboto-Medium'),
         url('../static/fonts/Roboto-Medium.woff2') format('woff2'),
         url('../static/fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'),
         local('Roboto-MediumItalic'),
         url('../static/fonts/Roboto-MediumItalic.woff2') format('woff2'),
         url('../static/fonts/Roboto-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'),
         local('Roboto-Bold'),
         url('../static/fonts/Roboto-Bold.woff2') format('woff2'),
         url('../static/fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'),
         local('Roboto-BoldItalic'),
         url('../static/fonts/Roboto-BoldItalic.woff2') format('woff2'),
         url('../static/fonts/Roboto-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: Clarke;
    font-style: normal;
    font-weight: 900;
    src: local('Clarke Black'),
         local('Clarke-Black'),
         url('../static/fonts/Clarke-Black.woff2') format('woff2'),
         url('../static/fonts/Clarke-Black.woff') format('woff');
}

@font-face {
    font-family: 'United Sans Semi Condensed';
    font-style: normal;
    font-weight: 800;
    src: local('United Sans Semi Condensed Heavy'),
         local('UnitedSansSemiCondensed-Heavy'),
         url('../static/fonts/UnitedSansSemiCondensed-Heavy.woff2') format('woff2'),
         url('../static/fonts/UnitedSansSemiCondensed-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'United Sans Regular Medium';
    font-style: normal;
    font-weight: 500;
    src: local('United Sans Regular Medium'),
         local('UnitedSansRegular-Medium'),
         url('../static/fonts/UnitedSansRgMd.woff2') format('woff2'),
         url('../static/fonts/UnitedSansRgMd.woff') format('woff');
}
