body {
	padding-top: 100px;

	@media screen and (max-width: 1024px) {
		padding-top: 56px;
	}
}

img {
	height: auto;
	width: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 24px;
}

.container {
	width: 100%;
	max-width: 1200px;
}

.clearfix {
	content: '';
	height: 0px;
	display: table;
	clear: both;
}

.access-hidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.centered {
	position: relative;
	top: 50%;
	margin: 0 auto;
	transform: translate(0, -50%);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.standard_transition {
	transition: all 0.2s;
}

.slow_transition {
	transition: all 0.6s;
}

.slight_scale {
	transform: scale(1.1, 1.1);
}

.padding_global {
	padding: 0 60px;

	@media screen and (max-width : 1024px) {
		padding: 0 20px;
	}
}

/*--- Old CSS DUMP FROM HEADER --*/

.header-style0 {
	@include test-format(40px, 500, 45px, $brand-white, 0px);
	letter-spacing: 2px;

	@media screen and (max-width : 767px) {
		font-size: 26px;
	}
}

.header-style1 {
	@include test-format(15px, 500, 20px, #666666, 0px);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.copy-style1 {
	@include global-paragraph_03(#666666);
}

.list-style1 {
	@include global-header_06($white);

	&:hover, &:focus {
		text-decoration: none;
	}

	a {
		@extend .standard_transition;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.list-style2 {
	font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 0.025em;
    text-transform: none;
	@extend .standard_transition;

	&:hover, &:focus {
		text-decoration: none;
	}

	a {
		@extend .standard_transition;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.list-style3 {
	@include test-format(10px, 700, 20px, #515151, 0px);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.label-style1 {
	@include test-format(18px, 700, normal, $brand-black, 0px);
	letter-spacing: 1px;
}

.mini-link {
	@extend .copy-style1;
	@extend .standard_transition;

	&:before {
		display: none;
		width: 8px;
		content:'\2039';
		padding-right: 8px;
	}

	&:hover, &:focus {
		color: #666666;
		text-decoration: underline;
	}

	svg {
		height: 10px;
		width: 5px;
		fill: #666666;
		display: inline-block;
		margin-right: 8px;
	}
}

.btn-style0 {
	@include test-format(20px, 500, 65px, #3f3f3f, 0px);
	letter-spacing: 1px;
	height: 92px;
	width: 100%;
	background-color: #282828;
	@extend .standard_transition;

	@media screen and (max-width : 767px) {
		height: 66px;
	}

	&:hover {
		color: #212121;
		background-color: $brand-white;
	}
}

.btn-style1 {
	font-family: Clarke;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 65px;
	color: $white;
	text-align: center;
	border: 3px solid #393939;
	padding: 0 15px;
	display: block;
	cursor: pointer;
	@extend .standard_transition;

	&:hover {
		text-decoration: none;
		background-color: #393939;

		svg {
			fill: #282828;
		}
	}

	svg {
		height: 27px;
		width: 26px;
		fill: #666666;
		vertical-align: text-bottom;
		margin-right: 10px;
		@extend .standard_transition;
	}
}

.input-style1 {
	width: 100%;
	padding: 0 0 10px 0;
	font-family: Clarke;
	font-size: 25px;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #393939;

	&:focus {
		outline: none;
	}

	&::-webkit-input-placeholder {
		color: $brand-white;
	}
}

.menu-padding {
	padding: 100px 60px;

	@media screen and (max-width : 1024px) {
		padding: 50px 26px;
	}
}

.index-node {

	h4 {
		@extend .list-style1;
		margin-bottom: 4px;

		a {
			color: $brand-white;
			@extend .standard_transition;

			&:hover {
				color: #a0a0a0;
			}
		}
	}

	p {
		@extend .copy-style1;
	}
}

/*-----*/

.header_style01,
.header_style04,
.header_style05,
.header_style06 {

	&.black {
		color: $brand-black;
	}
}

.header_style01 {
	@include global-header_01($brand-carmine);
	margin-bottom: 40px;
}

.header_style02 {
	@include global-header_02($brand-carmine);
	margin-bottom: 30px;
}

.header_style03 {
	@include global-header_03($brand-carmine);
	margin-bottom: 30px;

	&.textured {
		position: relative;
		margin-bottom: 250px;
		z-index: 1;

		&::after {
			position: absolute;
			top: -65px;
			left: -100px;
			z-index: -1;
			width: 370px;
			height: 390px;
			content: '';
			background-image: url('../static/images/texture_header.svg');
			background-size: cover;
			background-position: top left;
		}

		span {
			display: block;
			padding-top: 20px;
			border-top: 6px solid $brand-black;
		}
	}
}

.header_style04 {
	@include global-header_04($brand-carmine);
	margin-bottom: 14px;
}

.header_style05 {
	@include global-header_05($brand-carmine);
	margin-bottom: 14px;
}

.header_style06 {
	@include global-header_06($brand-carmine);
	margin-bottom: 10px;

	&.category {
		color: $brand-black;
		padding-bottom: 10px;
	    border-bottom: 6px solid $brand-black;
	}
}

.home-slider_header {
    display: table;
    margin: 0 auto;
    font-family: Clarke;
    font-size: 30px;
    line-height: (88 / 88);
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    vertical-align: middle;

    @media (min-width: $screen-sm-min) {
        font-size: 60px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 88px;
    }

    strong {
        font-size: 80px;
        vertical-align: sub;

        @media (min-width: $screen-sm-min) {
            font-size: 140px;
        }

        @media (min-width: $screen-md-min) {
            font-size: 220px;
        }
    }
}

.label_style01 {
	@include global-label($brand-carmine);
}

.label_style02 {
	@include global-label($white);

    display: table;
    padding: 7px 10px;
    margin-bottom: 24px;
    background-color: $brand-carmine;

    &::after {
    	content: ' //';
    }
}

.label_style03 {
	@include global-paragraph_02($brand-black);

    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 6px solid $brand-black;
}

.list_style01 {
	font-size: 0;

	&.two-column li {

		@media (min-width: $screen-sm-min) {
			display: inline-block;
			width: calc(50% - 15px);
		}

		&:nth-child(odd) {

			@media (min-width: $screen-sm-min) {
				margin-right: 15px;
			}
		}

		&:nth-child(even) {

			@media (min-width: $screen-sm-min) {
				margin-left: 15px;
			}
		}
	}

	li {
		@include global-label($brand-black);
		display: block;
		padding: 15px 0;
		vertical-align: top;
		border-bottom: 2px solid $brand-gray;

		a {
			color: $brand-carmine;

			@extend .arrowed;

			@extend .standard_transition;

		    &:hover {
		        color: $brand-carmine_hover;
		    }
		}
	}
}

.paragraph_style01 {
	@include global-header_04($brand-carmine);

	a {
		color: $brand-carmine;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.paragraph_style02 {
	@include global-paragraph_02($brand-black);

	a {
		color: $brand-black;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.paragraph_style03 {
	@include global-paragraph_03($brand-black);

	a {
		color: $brand-carmine;

		@extend .standard_transition;

		&:hover {
			color: $brand-carmine_hover;
		}
	}
}

.paragraph_style04 {
	@include global-paragraph_04($brand-black);

	a {
		color: $brand-carmine;
		text-decoration: none;

		&:hover {
			color: $brand-carmine_hover;
		}
	}
}

.content_intro-paragraph {
    position: relative;
    font-weight: bold;

    &::before {
        position: absolute;
        top: 0;
        left: -100px;
        font-family: Clarke;
        font-size: 50px;
        line-height: (55 / 50);
        content: '//';
    }
}

.chevroned {

	&::after {
        display: inline-block;
        width: 18px;
        height: 17px;
        margin-left: 14px;
        vertical-align: middle;
        content: '';
        background-image: url('../static/images/icon_chevron-post.svg');
        background-repeat: no-repeat;

        @extend .standard_transition;
    }

    &:hover::after {
    	margin-left: 20px;
    }
}

.arrowed {

	&::after {
        display: inline-block;
        width: 7px;
        height: 12px;
        margin-left: 14px;
        vertical-align: middle;
        content: '';
        background-image: url('../static/images/icon_arrow.svg');
        background-repeat: no-repeat;

        @extend .standard_transition;
    }
}

.link_read-more {
    display: table;
    margin-top: 20px;

    @extend .standard_transition;

    &:hover {
        color: $brand-carmine_hover;
    }
}

.thumbnail-accented {
	position: relative;
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}

	&::before,
	&::after {
		display: none;

		@media (min-width: $screen-md-min) {
			position: absolute;
			bottom: 50px;
			display: block;
			height: 10px;
			content: '';
		}
	}

	&::before {
		left: -24px;
		width: 24px;
		border-top: 2px solid $brand-black;
		border-bottom: 2px solid $brand-black;
	}

	&::after {
		right: -97px;
		width: 97px;
		border-top: 2px solid $brand-black;
		border-bottom: 2px solid $brand-black;
	}

	img {
		width: 100%;
		border: 8px solid $brand-carmine;
	}
}

.btn-global {
	display: block;
	padding: 15px;
	text-align: center;

	@include global-label($brand-white);

	@extend .standard_transition;

	&.red {
		color: $white;
		background-color: $brand-carmine;

		svg {
			fill: $white;
		}
	}

	&.white {
		color: $brand-carmine;
		background-color: $white;

		svg {
			fill: $brand-carmine;
		}
	}

	&.black {
		color: $white;
		background-color: $brand-black;

		svg {
			fill: $white;
		}
	}

	&.auto-width {

		@media (min-width: $screen-sm-min) {
			min-width: 170px;
			display: table-cell;
			padding: 15px 20px;
		}
	}

	&.hollow {
		padding: 13px;
		background-color: transparent;
		border: 2px solid;

		&:hover {
			color: $white !important;
			border: 2px solid $brand-carmine_hover;

			svg {
				fill: $white;
			}
		}

		&.black {
			color: $brand-black;
		}

		&.red {
			color: $brand-carmine;
		}

		svg {
			fill: $brand-carmine;
		}
	}

	&:hover {
		color: $white;
		background-color: $brand-carmine_hover;

		&::after {
			margin-left: 14px;
		}

		svg {
			fill: $white;
		}
	}

	svg {
		display: inline-block;
		width: 18px;
		height: 17px;
		margin-left: 8px;
		vertical-align: middle;

		@extend .standard_transition;
	}
}

.btn-global_list {
	font-size: 0;
}

.content-wysiwyg + .btn-global_list {
	margin-top: 30px;

	@media (min-width: $screen-sm-min) {
		margin-top: 40px;
	}
}

.btn-global_list-item {
	margin-bottom: 30px;

	@media (min-width: $screen-sm-min) {
		display: inline-block;
		margin-right: 27px;
		margin-bottom: 27px;
	}

	&:last-child {
		margin-right: 0;
		margin-bottom: 0;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 27px;
		}
	}
}

.btn-play {
	position: relative;
	display: block;
	width: 90px;
	height: 90px;
	padding: 0;
	background-color: $white;
	border-radius: 60px;
	border: none;
	appearance: none;
	cursor: pointer;

	@extend .standard_transition;

	&::after {
		position: absolute;
		top: -15px;
		left: -15px;
		z-index: -1;
		width: 120px;
		height: 120px;
		display: block;
		content: '';
		border-radius: inherit;
		background-color: rgba(255, 255, 255, 0.6);

		@extend .standard_transition;
	}

	&:hover::after {
		top: 0;
		left: 0;
		width: inherit;
		height: inherit;
	}
}

.btn-play_icon {
	width: 34px;
    height: 41px;
    margin-right: -10px;
    fill: $brand-carmine;

    @extend .standard_transition;
}

.field-group {
	margin: 0 -15px;
}

.field {
	max-width: 100%;
	padding: 0 15px;
	margin-bottom: 30px;

	&.small {
		float: left;
		width: 50%;
    	// width: calc(50% - 15px);
    }

    &.radio-item {
    	margin-bottom: 10px;
    }
}

.field_label {
	@include global-label($brand-black);
}

.field_text,
.field_dropdown {
	@include global-label($brand-black);

	width: 100%;
	padding: 12px 15px;
	background-color: $white;
	border: 2px solid $brand-gray;
	border-radius: 0;
	appearance: none;

	@extend .standard_transition;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $brand-black;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $brand-black;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $brand-black;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $brand-black;
    }

    &:disabled {
    	color: $brand-gray;

    	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	      color: $brand-gray;
	    }

	    &::-moz-placeholder { /* Firefox 19+ */
	      color: $brand-gray;
	    }

	    &:-ms-input-placeholder { /* IE 10+ */
	      color: $brand-gray;
	    }

	    &:-moz-placeholder { /* Firefox 18- */
	      color: $brand-gray;
	    }
    }

    &:focus {
    	outline: none;
    	border-color: $brand-cerulean;
    }
}

.field_text {

	&.success,
	&.invalid {
		background-repeat: no-repeat;
	    background-position: center right 10px;
	    background-size: 20px;
	}

	&.success {
		background-image: url('../static/images/icon_success.svg');
	}

	&.invalid {
		background-image: url('../static/images/icon_invalid.svg');
	}
}

.field_dropdown {
	background-image: url('../static/images/icon_arrow_dropdown.svg');
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-size: 12px;
}

.field_radio {
	position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.field_indicator {
	order: -1;
	display: inline-block;
	padding: 2px;
    margin-right: 5px;
    border: 2px solid $brand-black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    background-clip: content-box;

    .field_radio:checked + &,
    .field_checkbox:checked + & {
        background-color: $brand-carmine;
    }
}

@mixin section_label($background) {
	position: absolute;
    padding: 0 20px;
    font-family: 'United Sans Regular Medium';
    font-size: 20px;
    line-height: 42px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: $background;

    &::after {
        content: ' //';
    }
}
