//Mixins Only
@mixin test-format($size, $weight, $height, $colour, $bottom) {
	font-family: "futura-pt",sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $colour;
	margin-bottom: $bottom;
}

@mixin global-header_01($color) {
	font-family: Clarke;
	font-size: 65px;
	line-height: (160 / 170);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: $color;

	@media (min-width: $screen-sm-min) {
		font-size: 170px;
	}
}

@mixin global-header_02($color) {
	font-family: Clarke;
	font-size: 110px;
	line-height: (110 / 110);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: $color;
}

@mixin global-header_03($color) {
	font-family: Clarke;
	font-size: 50px;
	line-height: (80 / 80);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: $color;

	@media (min-width: $screen-sm-min) {
		font-size: 80px;
	}
}

@mixin global-header_04($color) {
	font-family: Clarke;
	font-size: 35px;
	line-height: (60 / 50);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: $color;

	@media (min-width: $screen-sm-min) {
		font-size: 50px;
	}
}

@mixin global-header_05($color) {
	font-family: Clarke;
	font-size: 20px;
	line-height: (35 / 30);
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: $color;

	@media (min-width: $screen-lg-min) {
		font-size: 30px;
	}
}

@mixin global-header_06($color) {
	font-family: 'Roboto';
	font-size: 20px;
	line-height: (30 / 20);
	letter-spacing: 0.01em;
	color: $color;
}

@mixin global-label($color) {
	font-family: 'United Sans Semi Condensed';
	font-size: 16px;
	line-height: (16 / 16);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: $color;
}

@mixin global-paragraph_02($color) {
	font-family: 'Roboto';
	font-size: 15px;
	line-height: (25 / 15);
	letter-spacing: 0.01em;
	color: $color;

	@media (min-width: $screen-sm-min) {
		font-size: 20px !important;
		line-height: (30 / 20) !important;
	}
}

@mixin global-paragraph_03($color) {
	font-family: 'Roboto';
	font-size: 15px;
	line-height: (25 / 15);
	letter-spacing: 0.01em;
	color: $color;
}

@mixin global-paragraph_04($color) {
	font-family: 'Roboto';
	font-size: 12px;
	line-height: (18 / 12);
	letter-spacing: 0.015em;
	color: $color;
	font-style: italic;
}
