<template>
	<div id="main-navigation">
		<div id="header" ref="header">
			<a class="logo" href="/"><span class="access-hidden">Home</span><svg><use xlink:href="../static/images/app.svg#logo"></use></svg></a>
			<a id="nav-toggle" v-on:click="toggleMenu($event)" v-bind:class="{ active: menuOn }"><div class="labeling" v-text="menuOn ? 'Close' : 'Menu'"></div><span></span></a>
		</div>
		<div id="menu" class="global-navigation" v-bind:class="{ active: menuOn }">
			<div class="left">
                <svg class="text_uindy">
                    <use xlink:href="../static/images/app.svg#text_uindy"></use>
                </svg>
				<div class="navigation" v-bind:class="{ active: menuSearchMode === false }">
					<div class="main">
						<ul>
							<li v-for="item in mainmenu" v-bind:class="{ active: menuActiveMain == item }"><a v-on:click="toggleMenuActiveMain(item, $event)" :href="item.url" v-text="item.name"></a></li>
						</ul>
					</div>
					<div class="subs">
						<div v-for="item in mainmenu" class="group" v-bind:class="{ active: menuActiveMain == item }">
                            <a class="overview-link" :href="item.url">{{ item.name }} Overview</a>
                            <div class="subpage-list_wrap">
    							<div v-for="child in item.children" class="subpage-list">
    								<h3><a :href="child.url" v-text="child.name"></a></h3>
    								<ul>
    									<li v-for="child in child.children"><a :href="child.url" v-text="child.name"></a></li>
    								</ul>
    							</div>
                            </div>
						</div>
					</div>
				</div>
				<div class="search-results" v-bind:class="{ active: menuSearchMode }">
					<a class="back-btn" href="/" v-on:click.prevent="menuSearchMode = false"><svg><use xlink:href="../static/images/app.svg#icon_back1"></use></svg>Back</a>
					<ul>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="right">
				<form>
                    <label>
                        <span class="access-hidden">Search</span>
    					<input class="search-input" type="text" placeholder="Search" v-on:focus="menuSearchMode = true">
                    </label>
				</form>
				<h3>Quicklinks</h3>
				<ul class="quick-links">
					<li v-for="item in quicklinks"><a :href="item.url"><svg><use :xlink:href="item.icon"></use></svg>{{ item.name }}</a></li>
				</ul>
				<a class="btn-style1" v-on:click="menuLoginMode = true">My Uindy</a>
                <svg class="accent_emblem">
                    <use xlink:href="../static/images/app.svg#emblem_indy"></use>
                </svg>
			</div>
			<div class="login" v-bind:class="{ active: menuLoginMode }">
				<a class="back-btn" href="/" v-on:click.prevent="menuLoginMode = false"><svg><use xlink:href="../static/images/app.svg#icon_back1"></use></svg>Back</a>
				<form>
					<h2>My Uindy</h2>
					<div class="field-con">
						<svg><use xlink:href="../static/images/app.svg#icon_person"></use></svg>
                        <label>
                            <span class="access-hidden">Username</span>
                            <input type="text" placeholder="Username">
                        </label>
					</div>
					<div class="field-con">
						<svg><use xlink:href="../static/images/app.svg#icon_lock"></use></svg>
                        <label>
                            <span class="access-hidden">Password</span>
    						<input type="password" placeholder="Password">
                        </label>
					</div>
                    <label>
                        <span class="access-hidden">Login</span>
					   <input type="submit" value="Log In">
                    </label>
					<ul>
						<li><a href="/">New to My Uindy?</a></li>
						<li><a href="/">Forgot Password?</a></li>
					</ul>
				</form>
			</div>
		</div>
		<div id="menu-mobile" class="global-navigation" v-bind:class="{ active: menuOn }" ref="mobileMenu">
			<div class="left" v-on:scroll="lockMenuActiveMain()" ref="mainMobileCon">
				<ul ref="ul" class="main">
					<li v-for="item in mainmenu" class="group" v-bind:class="{ active: menuActiveMain == item }">
						<a v-on:click="toggleMenuActiveMain(item, $event)" :href="item.url">{{ item.name }}<svg><use xlink:href="../static/images/app.svg#icon_chevron1"></use></svg></a>
						<div class="sub-group" v-bind:class="{ active: menuActiveMain == item }">
                            <a class="overview-link" :href="item.url">{{ item.name }} Overview</a>
                            <div v-for="child in item.children">
    							<h3><a :href="child.url" v-text="child.name"></a></h3>
    							<ul>
    								<li v-for="child in child.children"><a :href="child.url" v-text="child.name"></a></li>
    							</ul>
                            </div>
						</div>
					</li>
				</ul>
			</div>
			<div class="right" ref="secondaryMobileCon">
				<form>
                    <label>
                        <span class="access-hidden">Search</span>
    					<input class="search-input" type="text" placeholder="Search" v-on:focus="menuSearchMode = true" v-bind:class="{ 'focus-mode': menuSearchMode === true }">
                    </label>
				</form>
				<div class="quick-links-con" v-bind:class="{ active: menuSearchMode === false }">
					<h3>Quicklinks</h3>
					<ul class="quick-links">
                        <li v-for="item in quicklinks"><a :href="item.url"><svg><use :xlink:href="item.icon"></use></svg>{{ item.name }}</a></li>
                    </ul>
					<a class="btn-style1" v-on:click="menuLoginMode = true">My Uindy</a>
				</div>
				<div class="search-results" v-bind:class="{ active: menuSearchMode }">
					<a class="back-btn" href="/" v-on:click.prevent="menuSearchMode = false"><svg><use xlink:href="../static/images/app.svg#icon_back1"></use></svg>Back</a>
					<ul>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
						<li>
							<h4><a href="/">Search Result Lorem Ipsum Dolor</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at aliquet nibh, vitae ultricies lacus. Mauris vel varius velit...</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="login" v-bind:class="{ active: menuLoginMode }">
				<a class="back-btn" href="/" v-on:click.prevent="menuLoginMode = false"><svg><use xlink:href="../static/images/app.svg#icon_back1"></use></svg>Back</a>
				<form>
					<h2>My Uindy</h2>
					<div class="field-con">
						<svg><use xlink:href="../static/images/app.svg#icon_person"></use></svg>
						<label>
                            <span class="access-hidden">Username</span>
                            <input type="text" placeholder="Username">
                        </label>
					</div>
					<div class="field-con">
						<svg><use xlink:href="../static/images/app.svg#icon_lock"></use></svg>
						<label>
                            <span class="access-hidden">Password</span>
                            <input type="password" placeholder="Password">
                        </label>
					</div>
					<label>
                        <span class="access-hidden">Login</span>
                       <input type="submit" value="Log In">
                    </label>
					<ul>
						<li><a href="/">New to My Uindy?</a></li>
						<li><a href="/">Forgot Password?</a></li>
					</ul>
				</form>
			</div>
			<div class="menu-nav">
				<ul>
					<li v-bind:class="{ active: menuMobilePanel === 0 }" v-on:click="toggleMenuMobilePanel(0)"></li>
					<li v-bind:class="{ active: menuMobilePanel === 1 }" v-on:click="toggleMenuMobilePanel(1)"></li>
				</ul>
			</div>
		</div>
		<global-subhead ref="subheader" v-if="breadcrumbs"
            :breadcrumbs="breadcrumbs"
            :buttons="subheadbuttons"
		></global-subhead>
	</div>
</template>

<script>
	import GlobalSubhead from './GlobalSubhead';

    import resize from 'vue-resize-directive';

	export default {
		name: 'global-header',
		components: {
            GlobalSubhead,
        },
		data() {
			return {
				menuOn: false,
			    menuActiveMain: undefined,
			    menuMobilePanel: 0,
			    menuPrevMain: null,
			    menuSearchMode: false,
			    menuLoginMode: false,
			    lockedItemOriginalPos: null
			}
		},
        props: {
            mainmenu: {
                type: Array,
                required: true
            },
            quicklinks: {
                type: Array,
                required: true
            },
            breadcrumbs: {
                type: Array,
                required: false
            },
            subheadbuttons: {
                type: Array,
                required: false
            }
        },
		methods: {
			toggleMenu: function(event) {
				event.preventDefault();
				this.menuOn = !this.menuOn;
			},
			toggleMenuActiveMain: function(index, event) {
				event.preventDefault();

				if (index === this.menuActiveMain) {
					this.menuActiveMain = null;
					this.menuPrevMain = null;
				} else {
					this.menuPrevMain = this.menuActiveMain;
					this.menuActiveMain = index;

					var lockedItem = this.activeA;
					var lockedItemOriginalPos = lockedItem.getBoundingClientRect().top + this.$refs.mainMobileCon.scrollTop - lockedItem.offsetHeight;

					if (this.menuActiveMain > this.menuPrevMain && this.menuPrevMain != null) {
						lockedItemOriginalPos -= 872;

                        console.log(document.getElementsByClassName("group active").outerHeight);
						//NEED TO REPLACE 872 WITH THE OUTERHEIGHT OF THE ACTIVE SUB-GROUP
					}

					this.lockedItemOriginalPos = lockedItemOriginalPos;

					this.lockMenuActiveMain();
				}
			},
			toggleMenuMobilePanel: function(index) {
				this.menuMobilePanel = index;

				if (index === 0 ) {
					this.$refs.mainMobileCon.style.left = "0%";
					this.$refs.secondaryMobileCon.style.left = "100%";
				} else if (index === 1) {
					this.$refs.mainMobileCon.style.left = "-100%";
					this.$refs.secondaryMobileCon.style.left = "0%";
				}
			},
			lockMenuActiveMain: function() {
				var lockedItem = this.activeA;
				var lockedItemTop = lockedItem.getBoundingClientRect().top;
				var mainMobileConTop = this.$refs.mainMobileCon.scrollTop;

				if ( mainMobileConTop >= this.lockedItemOriginalPos ) {
					lockedItem.classList.add('locked');
				} else if (mainMobileConTop < this.lockedItemOriginalPos ) {
					lockedItem.classList.remove('locked');
				}
			},
			getNodeIndex: function(node) {
				var index = 0;
				while ( (node = node.previousSibling) ) {
					if (node.nodeType != 3 || !/^\s*$/.test(node.data)) {
			  			index++;
					}
				}

				return index;
			},
            bodyPaddingResize: function() {
                var component = this;
                var headerTop = component.$refs.header.offsetHeight;
                var headerBottom;

                if (component.$refs.subheader) {
                    headerBottom = component.$refs.subheader.$el.offsetHeight;
                }

                // When refering to a subcomponent that is being imported like the subheader, you need to refer to $el (stands for element) before accessing methods like offsetHeight.

                var headerHeight = headerTop + headerBottom;

                document.getElementsByTagName("body")[0].style.paddingTop = headerHeight + 'px';
            }
		},
		computed: {
    		activeA() {
      			return this.$refs.ul.querySelectorAll('.group > a')[this.mainmenu.indexOf(this.menuActiveMain)];
    		}
  		},
        mounted() {
            if (window.innerWidth > 1024) {
                this.menuActiveMain = this.mainmenu[0];
            }

            var component = this;
            component.bodyPaddingResize();
        },
        created() {
            window.addEventListener('resize', this.bodyPaddingResize);
        }
	}
</script>

<style lang="scss">
    #header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 100px;
        background-color: $brand-black;

        @extend .padding_global;

        @media screen and (max-width: 1024px) {
            height: 56px;
        }

        .logo {

            svg {
                display: block;
                float: left;
                width: 326px;
                height: 19px;
                margin-top: 40px;
                fill: $white;

                @media screen and (max-width: 1024px) {
                    width: 266px;
                    height: 15px;
                    margin-top: 21px;
                }
            }
        }

        #nav-toggle {
            position: absolute;
            top: 40px;
            right: 60px;
            padding: 10px 26px 13px 0;
            cursor: pointer;

            @media screen and (max-width: 1024px) {
                top: 21px;
                right: 20px;
                padding: 7px 21px 11px 0;
            }

            .labeling {
                position: absolute;
                top: 0;
                left: -70px;
                display: block;
                font-family: Clarke;
                font-size: 25px;
                line-height: (25 / 25);
                color: $white;
                text-transform: uppercase;
                letter-spacing: 0.05em;

                @media screen and (max-width: 1024px) {
                    display: none;
                }
            }

            span,
            span::before,
            span::after {
                position: absolute;
                display: block;
                width: 26px;
                height: 3px;
                cursor: pointer;
                content: '';
                background: $brand-carmine;
                border-radius: 1px;
                transition: all 500ms ease-in-out;

                @media screen and (max-width: 1024px) {
                    width: 21px;
                }
            }

            span {

                &::before {
                    top: -9px;

                    @media screen and (max-width: 1024px) {
                        top: -7px;
                    }
                }

                &::after {
                    bottom: -9px;

                    @media screen and (max-width: 1024px) {
                        bottom: -7px;
                    }
                }
            }
        }

        #nav-toggle.active {

            span {
                background-color: transparent;

                &::before,
                &::after {
                    top: 0;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    top: 10px;
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }
    }

    #menu {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 20;
        width: 100%;
        height: calc(100% - 100px);
        margin-top: 100px;
        overflow: hidden;
        background-color: #212121;

        @extend .slow_transition;

        @media screen and (max-width: 1024px) {
            display: none;
        }

        &.active {
            right: 0;
        }

        h3 {
            @include global-label($brand-white);

            a {
                color: $brand-white;

                &:hover {
                    color: #a0a0a0;
                }
            }
        }

        .back-btn {
            top: 100px;
        }

        .left,
        .right {
            float: left;
            height: 100%;
        }

        .left {
            position: relative;
            width: 70%;
            background-image: url('../static/images/texture_menu-left.png');
            background-repeat: no-repeat;
            background-position: 0 0;

            .text_uindy {
                position: absolute;
                top: 30%;
                left: 0;
                width: 555px;
                fill: #222;
                transform: rotate(90deg) translateX(-50%);
                transform-origin: 0 50%;
            }

            .main,
            .subs {
                float: left;
                height: 100%;
            }

            .navigation,
            .search-results {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                visibility: hidden;
                opacity: 0;

                @extend .standard_transition;

                &.active {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .navigation {

                @extend .menu-padding;
            }

            .search-results {
                position: relative;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100px;
                    content: '';
                    background:
                        linear-gradient(
                            to bottom,
                            rgba(0, 0, 0, 0) 0%,
                            rgba(33, 33, 33, 1) 95%
                        );
                }

                ul {
                    padding: 100px 0;
                    margin-left: 215px;
                }
            }

            .main {
                width: 36%;

                ul {
                    margin-bottom: 100px;

                    li {
                        position: relative;
                        margin-bottom: 60px;
                        margin-left: 45px;
                        font-family: 'United Sans Semi Condensed';
                        font-size: 35px;
                        line-height: (35 / 35);
                        text-transform: uppercase;
                        letter-spacing: 0.05em;

                        &::before {
                            position: absolute;
                            left: -45px;
                            display: block;
                            color: $brand-yellow;
                            content: '//';
                            opacity: 0;

                            @extend .standard_transition;
                        }

                        &.active {

                            &::before {
                                opacity: 1;
                            }

                            a {
                                color: $brand-white;
                            }
                        }

                        a {
                            color: #666;

                            @extend .standard_transition;

                            &:hover {
                                color: #a0a0a0;
                            }
                        }
                    }
                }

                .current {

                    a {
                        display: table;
                    }

                    h3 {
                        margin-bottom: 20px;
                    }

                    .title {
                        margin-bottom: 18px;

                        @extend .list-style1;
                    }
                }
            }

            .subs {
                position: relative;
                width: 64%;
                padding: 0 0 0 40px;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100px;
                    content: '';
                    background:
                        linear-gradient(
                            to bottom,
                            rgba(0, 0, 0, 0) 0%,
                            rgba(33, 33, 33, 1) 95%
                        );
                }

                h3 {
                    margin-bottom: 18px;
                    color: $brand-white;
                }

                ul {

                    li {
                        margin-bottom: 10px;

                        @extend .list-style2;

                        a {
                            color: #919191;

                            &:hover {
                                color: $brand-white;
                            }
                        }
                    }
                }
            }

            .group {
                position: absolute;
                width: calc(100% - 40px);
                height: calc(100% + 100px);
                padding-top: 100px;
                margin-top: -100px;
                overflow: scroll;
                visibility: hidden;
                opacity: 0;

                @extend .slow_transition;

                &.active {
                    visibility: visible;
                    opacity: 1;
                }

                &::after {
                    display: block;
                    height: 0;
                    clear: both;
                    content: '';
                }
            }

            .subpage-list {
                float: left;
                width: 49%;
                margin-right: 2%;
                margin-bottom: 80px;

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-child(2n + 1) {
                    clear: both;
                }
            }
        }

        .right {
            position: relative;
            width: 30%;
            background-color: #282828;
            background-image: url('../static/images/background_nav_toolbar.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @extend .menu-padding;

            h3 {
                margin-bottom: 22px;
                color: #6e6e6e;
            }

            .quick-links {
                margin-bottom: 90px;
            }

            .accent_emblem {
                position: absolute;
                bottom: 30px;
                left: -15px;
                display: block;
                width: 52px;
                height: 52px;
                fill: $brand-carmine;
            }
        }

        .search-input {
            margin-bottom: 90px;
        }
    }

    #menu-mobile {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 20;
        display: none;
        width: 100%;
        height: calc(100% - 56px);
        margin-top: 56px;
        overflow: hidden;
        background-color: #212121;

        @extend .slow_transition;

        @media screen and (max-width: 1024px) {
            display: block;
        }

        &.active {
            right: 0;
        }

        h3 {
            @include global-label($brand-white);

            a {
                color: $brand-white;

                &:hover {
                    color: #a0a0a0;
                }
            }
        }

        .left,
        .right {
            position: absolute;
            top: 0;
            float: left;
            width: 100%;
            height: calc(100% - 56px);

            @extend .menu-padding;

            @extend .standard_transition;
        }

        .left {
            left: 0%;
            overflow: scroll;

            .main {

                > li {
                    position: relative;
                    font-family: 'United Sans Semi Condensed';
                    font-size: 25px;
                    line-height: (40 / 40);
                    text-transform: uppercase;
                    letter-spacing: 0.05em;

                    &.active {
                        /* --- TESTING ----- */

                        > a.locked {
                            position: fixed;
                            top: 56px;
                            width: calc(100% - 52px);
                        }

                        > a.locked + .sub-group {
                            margin-top: 55px;
                        }

                        /* ----------------- */

                        svg {
                            fill: $brand-white;
                            transform: rotate(90deg);
                        }

                        .sub-group {
                            max-height: 1000px;
                            padding: 36px 0 0;
                        }
                    }

                    > a {
                        display: block;
                        width: 100%;
                        padding: 15px 0;
                        color: $brand-white;
                        background-color: #212121;
                        border-bottom: 1px solid #303030;
                        transition-property: none;
                    }

                    svg {
                        position: absolute;
                        top: 23px;
                        right: 2px;
                        width: 6px;
                        height: 9px;
                        fill: #5d5d5d;
                        transform: rotate(-90deg);

                        @extend .standard_transition;
                    }
                }
            }

            .sub-group {
                max-height: 0;
                padding: 0;
                margin-left: 46px;
                overflow: hidden;
                transition: max-height 0.2s, padding 0.2s;

                h3 {
                    margin-bottom: 18px;
                    color: $brand-white;
                }

                ul {
                    margin-bottom: 30px;

                    li {
                        margin-bottom: 10px;

                        @extend .list-style2;

                        a {
                            color: #a0a0a0;

                            &:hover {
                                color: $brand-white;
                            }
                        }
                    }
                }
            }
        }

        .right {
            left: 100%;
            background-image: url('../static/images/background_nav_toolbar.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .search-input {

                &.focus-mode {
                    background-image: none;
                }
            }

            h3 {
                margin-top: 60px;
                margin-bottom: 18px;
            }

            .quick-links-con,
            .search-results {
                position: absolute;
                left: 0;
                width: 100%;
                padding: 0 26px;
                visibility: hidden;
                opacity: 0;

                @extend .standard_transition;

                &.active {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .quick-links {
                margin-bottom: 60px;
            }

            .search-results {
                height: calc(100% - 86px);

                .back-btn {

                    @media screen and (max-width: 1024px) {
                        top: -34px;
                        right: 26px;
                    }
                }

                ul {
                    padding-top: 60px;
                }
            }
        }

        .menu-nav {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 56px;
            background-color: $brand-black;

            ul {
                display: table;
                margin: 0 auto;
                font-size: 0;

                @extend .centered;

                li {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 14px;
                    vertical-align: middle;
                    background-color: #666;
                    border-radius: 12px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.active {
                        width: 14px;
                        height: 14px;
                        background-color: transparent;
                        border: 2px solid $brand-white;

                        &::before {
                            display: block;
                            width: 10px;
                            height: 10px;
                            margin: 0 auto;
                            content: '';
                            background-color: $brand-carmine;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .login {
            height: calc(100% - 56px);
            padding-right: 40px;
            overflow: scroll;

            .back-btn {

                @media screen and (max-width: 1024px) {
                    top: 66px;
                    right: 26px;
                }
            }
        }
    }

    .global-navigation {

        .search-input {
            padding: 0 26px 10px 0;
            background-image: url('../static/images/icons-search.svg');
            background-repeat: no-repeat;
            background-position: top 4px right;
            background-size: 20px;

            @extend .input-style1;

            &::after {
                font-family: FontAwesome;
                content: "\f002";
            }

            &:focus {
                outline: none;
            }

            &::-webkit-input-placeholder {
                color: $brand-white;
            }
        }

        .quick-links {
            font-size: 0;

            li {
                position: relative;
                display: inline-block;
                width: 49%;
                padding-left: 34px;
                margin-right: 2%;
                margin-bottom: 20px;

                @extend .list-style2;

                &:nth-child(2n) {
                    margin-right: 0;
                }

                a {
                    color: $brand-white;

                    @extend .standard_transition;

                    &:hover {
                        color: #a0a0a0;
                    }
                }

                svg {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    fill: #666;
                }
            }
        }

        .back-btn {
            @include global-header_06($brand-white);

            position: absolute;
            padding-left: 47px;
            font-weight: 500;
            line-height: 31px;
            color: $brand-white;

            @extend .standard_transition;

            @media screen and (max-width: 1024px) {
                padding-left: 24px;
                line-height: 16px;
            }

            &:hover {
                color: #a0a0a0;
                text-decoration: none;

                svg {
                    fill: $brand-carmine;
                }
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 31px;
                height: 31px;
                margin-right: 16px;
                fill: $brand-yellow;

                @extend .standard_transition;

                @media screen and (max-width: 1024px) {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .search-results {
            padding: 0 60px;

            ul {
                height: 100%;
                overflow: scroll;

                li {
                    margin-bottom: 46px;

                    @extend .index-node;
                }
            }
        }

        .login {
            visibility: hidden;
            background-color: #212121;
            opacity: 0;

            @extend .menu-padding;

            @extend .overlay;

            @extend .standard_transition;

            &.active {
                visibility: visible;
                opacity: 1;
            }

            h2 {
                margin-bottom: 100px;
                font-family: 'United Sans Semi Condensed';
                font-size: 35px;
                line-height: (35 / 35);
                color: $white;
                text-transform: uppercase;
                letter-spacing: 0.05em;

                @media screen and (max-width: 1024px) {
                    margin-bottom: 55px;
                }
            }

            form {
                display: block;
                width: 100%;
                max-width: 475px;
                margin: 0 auto;
            }

            .field-con {
                position: relative;
                display: block;
                padding-left: 44px;

                @media screen and (max-width: 1024px) {
                    padding-left: 0;
                }

                svg {
                    position: absolute;
                    top: -3px;
                    left: 0;
                    width: 26px;
                    height: 27px;
                    fill: #666;
                }
            }

            input[type=text],
            input[type=password] {
                margin-bottom: 60px;

                @extend .input-style1;

                @media screen and (max-width: 1024px) {
                    padding-left: 44px;
                    margin-bottom: 40px;
                }
            }

            input[type=submit] {
                margin-bottom: 40px;
                border: 0;

                @extend .btn-style0;
            }

            ul {
                display: table;
                margin: 0 auto;
                font-size: 0;

                li {
                    display: inline-block;
                    max-width: 50%;
                    margin-right: 54px;

                    @extend .list-style3;

                    @media screen and (max-width: 1024px) {
                        display: table;
                        max-width: none;
                        margin: 0 auto 16px;
                    }

                    &:nth-child(2n) {
                        margin-right: 0;
                    }

                    a {
                        color: #515151;

                        @extend .standard_transition;

                        &:hover,
                        &:focus {
                            color: $brand-white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .overview-link {
        display: block;
        padding-bottom: 0;
        margin-bottom: 30px;
        border-bottom: none;

        @include global-header_05($brand-white);

        @extend .standard_transition;

        @media (min-width: $screen-lg-min) {
            padding-bottom: 30px;
            margin-bottom: 60px;
            border-bottom: 3px solid #303030;
        }

        &::after {
            display: inline-block;
            width: 18px;
            height: 17px;
            margin-left: 17px;
            vertical-align: baseline;
            content: '';
            background-image: url('../static/images/icon_chevron-overview.svg');
            background-repeat: no-repeat;
        }

        &:hover {
            color: #a0a0a0;
        }
    }
</style>
