<template>
	<div class="subhero" ref="theHero" style="background-image: url(../static/images/subhero_test1.jpg)" v-resize="heroBottomMarginAdjust">
        <div class="subhero_content_wrap">
    		<div class="container">
    			<div class="row">
                    <div class="col-sm-12">
                        <div class="subhero_content" ref="heroContent">
                            <div v-if="tag" class="subhero_label" v-text="tag"></div>
                            <h1 v-text="title"></h1>
                            <div class="subhero_image" :style="'background-image: url(' + image + ')'"></div>
                        </div>
                    </div>
    			</div>
    		</div>
        </div>
	</div>
</template>

<script>
    import resize from 'vue-resize-directive';

	export default {
		name: 'global-subhero',
        directives: {
            resize,
        },
        props: {
            tag: {
                type: String,
                required: false
            },
            title: {
                type: String,
                required: true
            },
            image: {
                type: String,
                required: true
            },
        },
        methods: {
            heroBottomMarginAdjust: function() {
                var currentHeight = this.$refs.heroContent.offsetHeight;

                console.log(currentHeight);
                
                if (window.innerWidth <= 767){
                    this.$refs.theHero.style.marginBottom = currentHeight + "px";
                } else {
                    this.$refs.theHero.style.marginBottom = "";
                }
            }
        },
        mounted() {
            var component = this;

            setTimeout(function(){ 
                component.heroBottomMarginAdjust();
            }, 200);
        }
	}
</script>

<style lang="scss">
    .subhero {
        position: relative;
        z-index: 9;
        height: 250px;
        overflow: visible;
        background-color: #e6e6e2;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            height: 440px;
        }

        @media (min-width: $screen-md-min) {
            height: 255px;
            padding-top: 100px;
            background-image: none !important;
        }
    }

    .subhero_content_wrap {
        position: absolute;
        top: 250px;
        left: 0;
        width: 100%;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            top: auto;
            bottom: -110px;
        }

        @media (min-width: $screen-md-min) {
            position: static;
        }
    }

    .subhero_content {
        position: relative;
        padding: 50px 30px 30px;
        font-family: Clarke;
        font-size: 35px;
        line-height: (55 / 50);
        color: $brand-black;
        background-color: $white;

        @media (min-width: $screen-sm-min) {
            padding: 60px 72px 50px;
            font-size: 50px;
        }

        @media (min-width: $screen-md-min) {
            padding: 60px 500px 50px 72px;
        }
    }

    .subhero_image {
        position: absolute;

        @media (min-width: $screen-sm-min) {
            top: -173px;
            right: 72px;
            display: none;
            width: 288px;
            height: 200px;
            background-color: $brand-white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 5px solid $brand-carmine;
        }

        @media (min-width: $screen-md-min) {
            top: -40px;
            right: 40px;
            display: block;
            width: 400px;
            height: 360px;
        }
    }

    .subhero_label {
        position: absolute;
        top: -15px;

        @include section_label($brand-carmine);
    }
</style>
