<template>
	<div class="background-sidebared">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-lg-7 col-lg-offset-1">
					<slot></slot>
				</div>
				<div class="col-md-3 col-lg-offset-1">
                    <global-fixed-sidebar v-if="sidebar"
                        :menu="menu"
                        :calltoaction="calltoaction"
                    ></global-fixed-sidebar>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    import GlobalFixedSidebar from './GlobalFixedSidebar';

	export default {
		name: 'global-background-sidebared',
        components: {
            GlobalFixedSidebar,
        },
        props: {
            sidebar: {
                type: Boolean
            },
            menu: {
                type: Object,
                required: false
            },
            calltoaction: {
                type: Object,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .hero + .background-sidebared {
        padding-top: 55px;

        @media (min-width: $screen-sm-min) {
            padding-top: 220px;
        }
    }

    .subhero + .background-sidebared {
        padding-top: 55px;

        @media (min-width: $screen-sm-min) {
            padding-top: 220px;
        }

        @media (min-width: $screen-md-min) {
            padding-top: 275px;
        }
    }

    .background-sidebared {
        position: relative;
        padding: 110px 0;
        background-color: $brand-white;
    }
</style>
