<template>
    <div v-if="youtubeid" class='video-container' v-bind:class="{ 'full-screen': version == 2, 'red-border': version == 3 }">
        <div class="video-overlay" v-bind:class="{ off: videoScreen == false }" :style="'background-image: url(' + videoimage + ')'">
            <button class="btn-play centered" v-bind:class="{ [videosize]: true }" v-on:click="videoPlay()" ref="componentBtn">
                <svg class="btn-play_icon small"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
                <span class="access-hidden">Play Button</span>
            </button>
            <button class="btn-pause access-hidden" ref="componentPause">
                <span class="access-hidden">Pause Button</span>
            </button>
            <div v-if="btnsubhead" class="video_subhead centered" v-bind:class="{ [videosize]: true }" v-text="btnsubhead"></div>
        </div>
        <iframe ref="componentVideo" :src="'https://www.youtube.com/embed/' + youtubeid + '?enablejsapi=1'" frameborder='0' allowfullscreen></iframe>
    </div>
</template>

<script>
    export default {
        name: 'global-video',
        data() {
            return {
                videoScreen: true,
            }
        },
        props: {
            youtubeid: {
                type: String,
                required: true
            },
            videoimage: {
                type: String,
                required: true
            },
            videosize: {
                type: String,
                default: "large"
            },
            version: {
                type: Number,
                default: 1
            },
            btnsubhead: {
                type: String,
                required: false
            }
		},
		methods: {
			videoPlay: function() {
                this.videoScreen = false;
                // window.readyYoutubeVids[this.mounted.position].playVideo();
            }
		},
		mounted() {
            var player;
            var iframe = this.$refs.componentVideo;
            var playBtn = this.$refs.componentBtn;
            var pauseBtn = this.$refs.componentPause;
            var position;

            window.addEventListener("load", function() {
            	window.videoList.push(iframe);
            	position = window.videoList.lastIndexOf(iframe);
            });

            playBtn.addEventListener("click", function() {
                window.readyYoutubeVids[position].playVideo();
            });

            pauseBtn.addEventListener("click", function() {
                window.readyYoutubeVids[position].pauseVideo();
            });
        }
	}
</script>

<style lang="scss">
    /* ------------------------------------------------ */

    /* BASE RESPONSIVE VIDEO STYLES (REUSABLE ANYWHERE) */

    /* ------------------------------------------------ */

    .video-container {
        position: relative;
        max-width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        visibility: visible;
        background-position: center;
        background-size: cover;
        opacity: 1;

        @extend .slow_transition;

        &.off {
            visibility: hidden;
            opacity: 0;
        }
    }

    /* ----------------------------------------- */

    /* RESPONSIVE VIDEO AMENDMENTS AND MODIFIERS */

    /* ----------------------------------------- */

    .video-container {
        margin-bottom: 80px;

        &:last-child {
            margin-bottom: 0;
        }
    }
</style>
