<template>
    <div class="slider_container">

    	<div ref="slider" class="slider" v-resize="slideResize">
    		<div ref="rail" class="slider_rail" v-bind:class="{ 'e-break': transitioning == false }" v-on:transitionend="slideTransitionEnd()">
    			<div v-for="slide in slides" class="slide">
                    <div class="slide_image_wrap">
                        <img class="slide_image" :src="slide.image.src" :alt="slide.image.alt" />
                    </div>
                    <div class="slide_content-block" :data-slide-num="slides.indexOf(slide) + 1">
                        <div class="slide_content">
                            <p class="paragraph_style02" v-text="slide.content"></p>
                            <a v-for="link in slide.links" class="link_read-more label_style01 chevroned" :href="link.url" v-text="link.name"></a>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
        <div class="slider_navigation" role="navigation" aria-label="Carousel Navigator">
            <button class="slider_navigation-btn right" v-on:click="slideMove('right')"><svg class="slider_navigation-btn_img"><use xlink:href="../static/images/app.svg#icon_chevron"></use></svg><span class="access-hidden">Slider Button Navigate Right</span></button>
        </div>
    </div>
</template>

<script>
    // Against my better judgement, I've installed a package to detect module resizing because using window.resize
    // Only seems to trigger on the last slider on the page as opposed to all of them.

    import resize from 'vue-resize-directive'

	export default {
		name: 'global-carousel',
        directives: {
            resize,
        },
        data() {
            return {
                activeSlide: 1,
                slideCount: null,
                transitioning: false,
                stop: false
            }
        },
        props: {
            version: {
                type: Number,
            },
            lead: {
                type: String
            },
            title: {
                type: String
            },
            description: {
                type: String
            },
            linktext: {
                type: String
            },
            url: {
                type: String
            },
            slides: {
                type: Array,
                required: true
            },
            wrapped: {
                type: Boolean
            }
        },
		methods: {
            slideDuplicate: function() {
                var fakelist = this.$refs.slider.getElementsByClassName("slide");
                var slideList = [];

                for (var i = 0; i < fakelist.length; i++) {
                    slideList.push(fakelist[i]);
                };

                this.slideCount = slideList.length;

                // Need to clone the first and last slides and append and prepend them to the end and beginning of our slide list

                var firstSlideClone = slideList[0].cloneNode(true);
                var lastSlideClone = slideList[slideList.length - 1].cloneNode(true);

                this.$refs.rail.insertBefore(lastSlideClone, this.$refs.rail.childNodes[0]);
                this.$refs.rail.appendChild(firstSlideClone);
            },
            slideResize: function() {
                // This snippet turns an HTMLCOLLECTION into a true javascript array because getElementByClassName is a useless method sometimes

                var fakelist = this.$refs.slider.getElementsByClassName("slide");
                var slideList = [];

                for (var i = 0; i < fakelist.length; i++) {
                    slideList.push(fakelist[i]);
                };
                // End snippet

                // Get current height and width of the slider container
                var currentHeight = this.$refs.slider.offsetHeight;
                var currentWidth = this.$refs.slider.offsetWidth;

                // Apply that height and width to every slide in your slider
                for (var slide in slideList) {
                    slideList[slide].style.height = currentHeight + "px";
                    slideList[slide].style.width = currentWidth + "px";
                }

                // Set the slider rail width to facilitate the correct number of slides. Not neccesary for this example.
                // this.$refs.rail.style.width = (currentWidth * slideList.length) + "px";

                //Initialize the starting position of the slider

                Velocity(this.$refs.rail, { translateX: -currentWidth }, 0);
                // this.$refs.rail.style.transform = "translateX(-" + sliderWidth + "px)";
            },
            slideMove: function(i) {
                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;
                var styleList = window.getComputedStyle(theRail);
                var currentPosition = styleList.getPropertyValue('left');
                var direction = i;
                var moveToSlide;

                // This vue component comes with a transitioning data flag set to false by default.
                // When the function starts, we check to make sure the flag isnt true to prevent transition conflicts
                if (this.transitioning === false) {

                    // Set the afformentioned flag to true so the button can't be clicked again until the transition is done.
                    this.transitioning = true;

                    if (direction == "right") {
                        if (this.activeSlide == this.slideCount) {
                            moveToSlide = this.activeSlide + 1;
                            this.activeSlide = 1;

                        } else {
                            this.activeSlide += 1;
                            moveToSlide = this.activeSlide;
                        }
                    } else if (direction == "left") {
                        if (this.activeSlide == 1) {
                            moveToSlide = this.activeSlide -1;
                            this.activeSlide = this.slideCount;

                        } else {
                            this.activeSlide -= 1;
                            moveToSlide = this.activeSlide;
                        }
                    }

                    var newPosition = sliderWidth * moveToSlide;
                    Velocity(theRail, {
                        translateX: -newPosition
                    }, {
                        duration: 400,
                        easing: 'easeInOutCubic',
                        complete: function() {
                            component.slideTransitionEnd();
                        }
                    });

                    // theRail.style.transform = "translateX(-" + newPosition + "px)";
                }
            },
            slideDotTrigger: function(i) {
                // This method is being used for explicit slide changes using the dots. Some of what is here is a duplicate
                // of the stuff going on up to in slideMove. This will be cleaned later

                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;
                var newSlide;

                // This vue component comes with a transitioning data flag set to false by default.
                // When the function starts, we check to make sure the flag isnt true to prevent transition conflicts

                if (this.transitioning === false) {

                    this.transitioning = true;
                    this.activeSlide = this.slides.indexOf(i) + 1;

                    newSlide = this.activeSlide;

                    var newPosition = sliderWidth * newSlide;

                    Velocity(theRail, {
                        translateX: -newPosition
                    }, {
                        duration: 400,
                        easing: 'easeInOutCubic',
                        complete: function() {
                            component.slideTransitionEnd();
                        }
                    });
                }
            },
            slideTransitionEnd: function() {
                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;

                component.transitioning = false;

                if (component.activeSlide == 1) {
                    Velocity(theRail, { translateX: -sliderWidth }, 0);
                    // theRail.style.transform = "translateX(-" + sliderWidth + "px)";
                } else if (component.activeSlide == component.slideCount) {
                    Velocity(theRail, { translateX: -(sliderWidth * component.slideCount) }, 0);
                    // theRail.style.transform = "translateX(-" + (sliderWidth * component.slideCount) + "px)";
                }
            }
		},
        mounted() {
            var component = this;
            this.slideDuplicate();
            this.slideResize();
        }
	}
</script>

<style lang="scss">

    /* ----------------------------- */

    /* SLIDER BASE STYLES (REUSABLE) */

    /* ----------------------------- */

    .slider {
        position: relative;
        height: 510px;
        overflow: hidden;
    }

    .slider_rail {
        position: absolute;
        top: 0;
        height: 100%;
        font-size: 0;
        white-space: nowrap;

        /* transition: transform 0.2s ease; */
    }

    .slide {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* ----------------------------- */

    /* SLIDER STYLE SPECIFIC TO INDY */

    /* ----------------------------- */

    .slider_container {
        position: relative;
        margin: 0 -15px 120px;

        @media (min-width: $screen-md-min) {
            margin: 0 0 120px;
        }

        &::after {
            position: absolute;
            top: -27.5px;
            right: calc(24.5% - 57px);
            width: 57px;
            height: 57px;
            content: '';
            border: 3px solid #e7e6e2;
            border-radius: 30px;
        }
    }

    .slider {
        position: relative;
        height: 600px;

        @media (min-width: $screen-sm-min) {
            height: 700px;
        }

        @media (min-width: $screen-md-min) {
            height: 510px;
        }
    }

    .slide_image_wrap {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;

        @media (min-width: $screen-sm-min) {
            height: 400px;
        }

        @media (min-width: $screen-md-min) {
            float: left;
            width: 600px;
            height: 510px;
        }

        @media (min-width: $screen-lg-min) {
            width: 670px;
        }
    }

    .slide_image {
        position: absolute;
        top: -100%;
        right: -100%;
        bottom: -100%;
        left: -100%;
        min-width: 100%;
        max-width: none;
        margin: auto;
    }

    .slide_content-block {
        position: relative;
        display: table;
        width: 100%;
        height: 300px;
        padding: 20px 30px;
        background-color: $brand-white;
        border-bottom: 3px solid #e7e6e2;

        @media (min-width: $screen-sm-min) {
            padding: 20px 50px;
        }

        @media (min-width: $screen-md-min) {
            display: flex;
            align-items: center;
            float: left;
            width: calc(100% - 600px);
            height: 100%;
            padding: 0 50px;
            border: 3px solid #e7e6e2;
            border-left: none;
        }

        @media (min-width: $screen-lg-min) {
            width: calc(100% - 670px);
            padding: 0 100px;
        }

        &::before {
            position: absolute;
            top: 20px;
            right: 30px;
            font-family: 'United Sans Regular Medium';
            font-size: 20px;
            line-height: (30 / 20);
            color: $brand-carmine;
            letter-spacing: 0.05em;
            content: '// 0' attr(data-slide-num);

            @media (min-width: $screen-sm-min) {
                top: 26px;
                right: 36px;
            }
        }
    }

    .slide_content {
        display: table-row;
        white-space: normal;

        @media (min-width: $screen-md-min) {
            display: block;
        }
    }

    .slider_navigation {
        position: absolute;
        top: calc(50% - 35px);

        @media (min-width: $screen-lg-min) {
            left: -25px;
        }
    }

    .slider_navigation-btn {
        width: 50px;
        height: 70px;
        cursor: pointer;
        background-color: $brand-carmine;
        border: none;

        @extend .standard_transition;

        &:hover {
            background-color: $brand-carmine_hover;
        }
    }

    .slider_navigation-btn_img {
        width: 17px;
        height: 15px;
        fill: $brand-yellow;
    }
</style>
