<template>
    <div class="hero" ref="theHero" :style="'background-image: url(' + image + ')'" v-resize="heroBottomMarginAdjust">
        <button v-if="video" class="btn-play centered" v-on:click="heroPlay()">
            <svg class="btn-play_icon"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
            <span class="access-hidden">Play Button</span>
        </button>
        <global-modal v-if="video" ref="modal">
            <global-video ref="modalVideo"
                :youtubeid="video.youtubeid"
                :videoimage="video.videoimage"
            ></global-video>
        </global-modal>
        <div class="hero_content_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="hero_content" ref="heroContent">
                            <div v-if="tag" class="hero_label" v-text="tag"></div>
                            <h1 v-text="title"></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GlobalModal from './GlobalModal';
    import GlobalVideo from './GlobalVideo';

    import resize from 'vue-resize-directive';

    export default {
        name: 'global-hero',
        directives: {
            resize,
        },
        components: {
            GlobalModal,
            GlobalVideo
        },
        data() {
            return {
                modalMode: false
            }
        },
        props: {
            tag: {
                type: String,
                required: false
            },
            title: {
                type: String,
                required: true
            },
            image: {
                type: String,
                required: true
            },
            video: {
                type: Object,
                required: false
            }
        },
        methods: {
            heroPlay: function() {
                this.$refs.modalVideo.$refs.componentBtn.click();
                this.$refs.modal._data.modalMode = true;
                // console.log(this.$refs.modal._data.modalMode);
            },
            heroBottomMarginAdjust: function() {
                var currentHeight = this.$refs.heroContent.offsetHeight;

                console.log(currentHeight);
                
                if (window.innerWidth <= 767){
                    console.log("this is little.");
                    this.$refs.theHero.style.marginBottom = currentHeight + "px";
                } else {
                    this.$refs.theHero.style.marginBottom = "";
                }
            }
        },
        mounted() {
            var component = this;

            setTimeout(function(){ 
                component.heroBottomMarginAdjust();
            }, 200);
        }
    }
</script>

<style lang="scss">
    .hero {
        position: relative;
        z-index: 9;
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            height: 440px;
        }
    }

    .hero_content_wrap {
        position: absolute;
        top: 250px;
        left: 0;
        width: 100%;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            top: auto;
            bottom: -110px;
        }
    }

    .hero_content {
        position: relative;
        padding: 50px 30px 30px;
        margin: 0 -15px;
        font-family: Clarke;
        font-size: 35px;
        line-height: (55 / 50);
        color: $brand-black;
        background-color: $white;

        @media (min-width: $screen-sm-min) {
            padding: 60px 72px 50px;
            margin: 0;
            font-size: 50px;
        }

        &::after {
            position: absolute;
            right: 84px;
            bottom: -45px;
            width: 590px;
            height: 45px;
            content: '';
            background-image: url('../static/images/patter_hero-dots.svg');
            background-position: left;
            background-size: cover;
        }
    }

    .hero_label {
        position: absolute;
        top: -15px;

        @include section_label($brand-carmine);
    }
</style>
