<template>
	<div class="post-index" v-bind:class="{ 'textured': version == 2 }">
		<div class="container">
			<div class="row">
				<div v-for="post in posts" class="col-sm-4 post-index_item">
                    <h3 v-if="version == 2" class="post-index_header02"><a :href="post.url" v-text="post.title"></a></h3>
					<a class="post-index_thumbnail" :href="post.url">
						<img :src="post.thumbnail" :alt="post.alt">
					</a>
                    <h3 v-if="version == 1" class="post-index_header"><a :href="post.url" v-text="post.title"></a></h3>
                    <p class="paragraph_style03" v-text="post.excerpt"></p>
                    <a class="link_read-more label_style01 chevroned" :href="post.url">Read More</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-post-index',
        props: {
            posts: {
                type: Array,
                required: true
            },
            version: {
                type: Number,
                required: false,
                default: 1
            }
        },
	}
</script>

<style lang="scss">
    .post-index {
        position: relative;
        margin-top: 80px;
        margin-bottom: 80px;

        &::after {
            content: '';

            @media (min-width: $screen-lg-min) {
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 100%;
                background-color: $brand-carmine;
            }
        }

        &.textured {
            padding: 80px 0;
            margin: 0;
            background-color: $brand-white;
            background-image: url('../static/images/background_two-pattern.svg');
            background-repeat: no-repeat;
            background-position: top -20px right;
            background-size: 480px;

            &::after {
                content: '';

                @media (min-width: $screen-lg-min) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: auto;
                    width: 50px;
                    height: 100%;
                    background-color: $brand-carmine;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .post-index_item {
        margin-bottom: 60px;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .post-index_thumbnail {
        position: relative;
        display: block;
        margin-bottom: 18px;

        &::before {
            position: absolute;
            top: 45px;
            left: -17px;
            width: 34px;
            height: 3px;
            content: '';
            background-color: $brand-yellow;
        }

        img {
            width: 100%;
        }
    }

    .post-index_header {
        @include global-paragraph_02($brand-carmine);

        margin-bottom: 10px;

        a {
            color: $brand-carmine;

            @extend .standard_transition;

            &:hover {
                color: $brand-carmine_hover;
            }
        }
    }

    .post-index_header02 {
        @include global-header_05($brand-black);

        margin-bottom: 18px;

        &::after {
            color: $brand-carmine;
            content: ' //';
        }

        a {
            color: $brand-black;

            @extend .standard_transition;

            &:hover {
                color: $brand-carmine_hover;
            }
        }
    }
</style>
