<template>
	<div ref="modalContainer" class="modal" v-bind:class="{ active: modalMode == true }">
        <div ref="modalContent" class="modal_content centered">
            <button class="modal_btn-close" v-on:click="modalClose()">&times;</button>
            <slot></slot>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'global-modal',
        data() {
            return {
                modalMode: false,
            }
        },
        methods: {
            modalClose: function() {
                this.modalMode = false;
                // this.$children[0].$refs.componentPause.click();

                if (this.$refs.modalContent.getElementsByClassName('btn-pause').length > 0) {
                    var thePauseBtns = this.$refs.modalContent.getElementsByClassName('btn-pause');

                    for (var i = 0; i < thePauseBtns.length; i++) {
                        thePauseBtns[i].click()
                    }
                }
            }
        }
	}
</script>

<style lang="scss">
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 19;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;

        @extend .slow_transition;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    .modal_btn-close {
        position: absolute;
        top: -25px;
        right: -25px;
        z-index: 9;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0 0 5px;
        font-size: 40px;
        line-height: 35px;
        color: $brand-carmine;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: $white;
        border: none;
        border-radius: 40px;
    }

    .modal_content {
        position: relative;
        max-width: 90vw;
        visibility: inherit;
        border: 10px solid $white;

        @media (min-width: $screen-md-min) {
            max-width: 80vw;
        }

        @media (min-width: $screen-md-min) {
            max-width: 60vw;
        }

        div {
            visibility: inherit;
        }
    }
</style>
