<template>
    <div class="content-section">
        <p v-if="intro" class="paragraph_style02 content_intro-paragraph" v-text="intro"></p>
        <div v-if="content" class="content-wysiwyg" v-html="content"></div>
        <ul v-if="buttons" class="btn-global_list">
            <li v-for="button in buttons" class="btn-global_list-item"><a class="btn-global red auto-width" v-bind:class="{'hollow': button.type == 'hollow'}" :href="button.url">{{ button.name }}
            <svg><use xlink:href="../static/images/app.svg#icon_chevron"></use></svg></a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'global-content-wysiwyg',
        props: {
            intro: {
                type: String,
                required: false
            },
            content: {
                type: String,
                required: false
            },
            buttons: {
                type: Array,
                required: false
            }
        }
    }
</script>

<style lang="scss">
    .content-section {
        margin-bottom: 80px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .content_intro-paragraph + .content-wysiwyg {
        margin-top: 30px;
    }

    .content-wysiwyg {

        h1 {

            @extend .header_style01;
        }

        h2 {

            @extend .header_style02;
        }

        h3 {

            @extend .header_style03;
        }

        h4 {

            @extend .header_style04;
        }

        h6 {

            @extend .header_style06;
        }

        p {

            @extend .paragraph_style03;
        }

        p + p,
        p + ul,
        p + img,
        ul + p,
        img + p {
            margin-top: 24px;
        }

        ul {

            @extend .list_style01;
        }
    }
</style>
