<template>
	<div class="background-three">
		<slot></slot>
	</div>
</template>

<script>
	export default {
		name: 'global-background-three'
	}
</script>

<style lang="scss">
    .background-three {
        padding: 110px 0;
        background-color: $brand-white;
        background-image: url('../static/images/background_one-texture2.png');
        background-repeat: no-repeat;
        background-position: top 400px left;
        background-size: 288px;

        @media (min-width: $screen-sm-min) {
            padding: 150px 0;
        }
    }
</style>
