<template>
	<div class="background-two">
        <div v-if="title" class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="background-two_header" v-text="title"></h2>
                </div>
            </div>
        </div>
        <slot></slot>
	</div>
</template>

<script>
	export default {
		name: 'global-background-two',
        props: {
            title: {
                type: String,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .background-two {
        padding: 110px 0;
        background-color: $brand-white;
        background-image: url('../static/images/background_two-pattern.svg');
        background-repeat: no-repeat;
        background-position: top -20px left -120px;
        background-size: 480px;

        @media (min-width: $screen-sm-min) {
            padding: 150px 0;
        }
    }

    .background-two_header {
        margin-bottom: 130px;
        font-family: 'United Sans Regular Medium';
        font-size: 50px;
        line-height: (60 / 50);
        color: $brand-carmine;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
</style>
