<template>
	<div class="big-banner">
		<h3 class="big-banner_title" v-text="title"></h3>
	</div>
</template>

<script>
	export default {
		name: 'global-big-banner',
		props: {
			title: {
				type: String,
				required: true
			}
		}
	}
</script>

<style lang="scss">
    .big-banner {
        display: flex;
        align-items: center;
        height: 250px;
        background-image: url('../static/images/background_big-banner.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            height: 550px;
        }
    }

    .big-banner_title {
        @include global-header_01($white);

        padding-bottom: 25px;
        margin: 0 auto;
        background-image: url('../static/images/big-banner_underline.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;

        @media (min-width: $screen-sm-min) {
            padding-bottom: 40px;
            background-size: auto;
        }
    }
</style>
