<template>
    <div class="video-excerpt">
        <div class="video-excerpt_thumb" :style="'background-image: url(' + video.videoimage + ')'">
            <button ref="componentBtn" class="video-excerpt_btn-play centered" v-on:click="excerptPlay()">
                <svg class="video-excerpt_btn-play_icon"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg>
                <span class="access-hidden">Play Button</span>
            </button>
            <global-modal v-if="video" ref="modal">
                <global-video ref="modalVideo"
                    :youtubeid="video.youtubeid"
                    :videoimage="video.videoimage"
                ></global-video>
            </global-modal>
        </div>
        <p class="video-excerpt_p">Watch video call-to-action lorem ipsum dolor sit</p>
    </div>
</template>

<script>
    import GlobalModal from './GlobalModal';
    import GlobalVideo from './GlobalVideo';

    export default {
        name: 'global-video-excerpt',
        components: {
            GlobalModal,
            GlobalVideo
        },
        data() {
            return {
                modalMode: false
            }
        },
        props: {
            description: {
                type: String,
                required: true
            },
            video: {
                type: Object,
                required: false
            }
        },
        methods: {
            excerptPlay: function() {
                this.$refs.modalVideo.$refs.componentBtn.click();
                this.$refs.modal._data.modalMode = true;
            }
        }
    }
</script>

<style lang="scss">
    .video-excerpt {
        position: relative;
        display: flex;
        align-items: center;
        height: 115px;
        padding-right: 15px;
        padding-left: 200px;
        margin-top: 24px;
        margin-bottom: 60px;
        background-color: $white;
        border-right: 6px solid $brand-carmine;
    }

    .video-excerpt_thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 170px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .video-excerpt_btn-play {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: $white;
        border: 3px solid $brand-black;
        border-radius: 50px;
        appearance: none;

        &:hover .video-excerpt_btn-play_icon {
            fill: $brand-carmine_hover;
        }
    }

    .video-excerpt_btn-play_icon {
        width: 14px;
        height: 18px;
        margin-top: 2px;
        margin-right: -4px;
        fill: $brand-carmine;
    }

    .video-excerpt_p {
        @include global-paragraph_03($brand-carmine);

        font-weight: bold;
    }
</style>
