<template>
	<div class="featured-content">
		<div class="featured-content_inner-wrap container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="featured-content_thumbnail">
                        <svg class="featured-content_icon"><use xlink:href="../static/images/app.svg#icon_greyhounds-for-life"></use></svg>
						<img class="featured-content_thumbnail_image" :alt="alt" :src="thumbnail">
					</div>
				</div>
				<div class="col-sm-12 col-md-5 col-lg-4 col-md-offset-1">
                    <h2 class="featured-content_header header_style01" v-html="title"></h2>
                    <div class="featured-content_wysiwyg-wrap">
                        <div v-if="subhead" class="featured-content_side-label" v-text="subhead"></div>
                        <global-content-wysiwyg
                            :content="content"
                        ></global-content-wysiwyg>
                        <ul v-if="links" class="featured-content_related-links">
                            <li v-for="link in links"><a class="link_read-more label_style01 chevroned" :href="link.url" v-text="link.name"></a></li>
                        </ul>
                    </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    import GlobalContentWysiwyg from './GlobalContentWysiwyg';

	export default {
		name: 'global-featured-content',
        components: {
            GlobalContentWysiwyg,
        },
        props: {
            thumbnail: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            alt: {
                type: String,
                required: false
            },
            subhead: {
                type: String,
                required: false
            },
            content: {
                type: String,
                required: true
            },
            links: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .featured-content {
        position: relative;
        margin-top: 100px;

        @media (min-width: $screen-md-min) {
            padding-top: 120px;
        }

        &::after {
            position: absolute;
            top: 120px;
            right: 0;
            width: 415px;
            height: 770px;
            content: '';
            background-image: url('../static/images/patter_hero-dots.svg');
            background-position: top left;
            background-size: 600px;
        }
    }

    .featured-content_inner-wrap {
        position: relative;
        z-index: 2;

        .content-section {
            position: relative;

            &::before {
                position: absolute;
                top: 5px;
                left: -45px;
                display: block;
                width: 50px;
                height: 50px;
                font-family: 'United Sans Regular Medium';
                font-size: 20px;
                color: $brand-carmine;
                content: '//';
            }
        }
    }

    .featured-content_thumbnail {
        margin: 0 -15px 40px;
        font-size: 0;

        @media (min-width: $screen-sm-min) {
            display: flex;
            align-items: center;
            margin: 0;
        }

        &::after {
            content: '';

            @media (min-width: $screen-sm-min) {
                display: block;
                width: calc(100% - 70px);
                height: 700px;
                margin: 0 0 0 100px;
                background-color: #c6c6c6;
                background-image: url('../static/images/background_featured-store_thumbnail.svg');
                background-position: center;
                background-size: contain;
            }

            @media (min-width: $screen-md-min) {
                margin: 0 -30px 0 100px;
            }
        }
    }

    .featured-content_icon {
        position: absolute;
        top: -20px;
        left: 35px;
        display: block;
        width: 210px;
        height: 54px;
        fill: $brand-black;
    }

    .featured-content_thumbnail_image {

        @media (min-width: $screen-sm-min) {
            position: absolute;
        }
    }

    .featured-content_wysiwyg-wrap {
        position: relative;
    }

    .featured-content_header {
        position: relative;

        @media (min-width: $screen-sm-min) {
            margin-top: -120px;
        }

        @media (min-width: $screen-md-min) {
            left: -300px;
            min-width: 550px;
            text-align: right;
        }

        .black {
            color: $brand-black;
        }
    }

    .featured-content_side-label {

        @extend .label_style02;

        @media (min-width: $screen-lg-min) {
            position: absolute;
            top: 0;
            right: -100%;
            margin-bottom: 0;
            white-space: nowrap;
            transform: rotate(90deg);
            transform-origin: left bottom;
        }
    }
</style>
