<template>
    <div class="subhead">
        <ul class="subhead_list">
            <li v-for="item in breadcrumbs" class="subhead_list_item"><a class="subhead_list_link" :href="item.url">{{ item.name }}<svg><use xlink:href="../static/images/app.svg#icon_arrow"></use></svg></a></li>
        </ul>
        <ul v-if="buttons" class="subhead_btn-list">
            <li v-for="button in buttons" class="subhead_btn-list_item"><a class="subhead_btn" :href="button.url" v-text="button.name"></a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'global-subhead',
        props: {
            breadcrumbs: {
                type: Array,
                required: true
            },
            buttons: {
                type: Array,
                required: false
            }
        }
    }
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

    .subhead {
        display: none;

        @media (min-width: $screen-sm-min) {
            position: fixed;
            top: 100px;
            left: 0;
            z-index: 19;
            display: block;
            width: 100%;
            height: 35px;
            background-color: $brand-black;
            border-top: 1px solid #303030;
        }

        @media screen and (max-width: 1024px) {
            top: 56px;
        }

        @extend .padding_global;
    }

    .subhead_list {
        float: left;
        max-width: calc(100% - 280px);
        overflow-y: scroll;
        font-size: 0;
        white-space: nowrap;
    }

    .subhead_list_item,
    .subhead_btn {
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        line-height: 35px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .subhead_list_item {
        display: inline-block;
        margin-right: 13px;

        &:last-child {
            margin-right: 0;

            svg {
                display: none;
            }
        }
    }

    .subhead_list_link {
        color: #888;

        @extend .standard_transition;

        &:hover,
        &.active {
            color: $white;
        }

        svg {
            width: 4px;
            height: 6px;
            margin-left: 13px;
            fill: #888;
        }
    }

    .subhead_btn-list {
        float: right;
        margin-top: 0;
        font-size: 0;
    }

    .subhead_btn-list_item {
        display: inline-block;
        margin-right: 19px;

        &:last-child {
            margin-right: 0;
        }
    }

    .subhead_btn {
        padding: 4px 18px;
        color: $white;
        background-color: $brand-carmine;

        @extend .standard_transition;

        &:hover {
            background-color: $brand-carmine_hover;
        }
    }
</style>
