<template>
	<div class="story" :style="'background-image: url(' + backgroundimage + ');'">
        <div class="story_label">Student Story</div>
        <div class="container">
            <div class="row">
                <div v-bind:class="{ 'col-md-4 col-lg-3 col-lg-offset-1': sidebarspace == false, 'col-md-2': sidebarspace == true }">
                    <img class="story_thumbnail" v-bind:class="{ 'small': sidebarspace == true }" :src="thumbnail" :alt="name" />
                    <div class="story_details">
                        <div class="story_name" v-text="name"></div>
                        <div class="story_year" v-text="year"></div>
                    </div>
                </div>
                <div class="col-md-offset-1" v-bind:class="{ 'col-md-7': sidebarspace == false, 'col-md-6': sidebarspace == true }">
                    <div class="story_content" v-bind:class="{ 'small': sidebarspace == true }">
                        <p v-bind:class="{ 'story_content_quote': sidebarspace == false, 'story_content_paragraph': sidebarspace == true, 'quoted': quoted == true }" v-text="content.paragraph"></p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'global-story',
        props: {
            thumbnail: {
                type: String,
                required: true
            },
            name: {
                type: String,
                required: true
            },
            year: {
                type: String,
                required: false
            },
            content: {
                type: Object,
                required: true
            },
            sidebarspace: {
                type: Boolean,
                default: false
            },
            quoted: {
                type: Boolean,
                required: false
            },
            backgroundimage: {
                type: String,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .story {
        position: relative;
        padding: 105px 0;
        background-image: url('../static/images/background_testimonial.jpg');
        background-position: center;
        background-size: cover;
    }

    .story_label {
        position: absolute;
        top: -20px;
        left: 20px;

        @include section_label(#5b5b5b);
    }

    .story_thumbnail {
        display: block;
        margin: 0 auto;
        border: 8px solid $brand-black;
        border-radius: 140px;

        @media (min-width: $screen-md-min) {
            margin: 0;
        }

        &.small {

            @media (min-width: $screen-md-min) {
                border: 6px solid $brand-black;
            }
        }
    }

    .story_thumbnail + .story_details {
        margin-top: 20px;
    }

    .story_details {
        margin-bottom: 40px;
        text-align: center;

        @media (min-width: $screen-md-min) {
            margin-bottom: 0;
            margin-left: 26px;
            text-align: left;
        }
    }

    .story_name {
        font-family: 'United Sans Semi Condensed';
        font-size: 35px;
        color: $brand-black;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .story_year {
        @include global-label($brand-black);
    }

    .story_name + .story_year {
        margin-top: 6px;
    }

    .story_content {
        position: relative;
        padding: 30px 40px 30px 50px;
        background-color: rgba(30, 30, 30, 0.95);
        border-bottom: 6px solid #5b5b5b;

        @media (min-width: $screen-sm-min) {
            padding: 40px 100px;
        }

        &::after {
            content: '';

            @media (min-width: $screen-md-min) {
                position: absolute;
                top: 137px;
                left: -120px;
                display: block;
                width: 120px;
                border-bottom: 6px $brand-black dashed;
            }
        }

        &.small::after {

            @media (min-width: $screen-md-min) {
                top: 80px;
            }
        }
    }

    .story_content_quote {
        position: relative;
        font-family: 'United Sans Regular Medium';
        font-size: 21px;
        line-height: (50 / 27);
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.075em;

        @media (min-width: $screen-sm-min) {
            font-size: 27px;
            line-height: (60 / 27);
        }

        &::before,
        &::after {
            position: absolute;
        }

        &::before {
            top: -10px;
            left: -25px;
            font-size: 50px;
            line-height: 80px;
            color: $brand-carmine;
            content: '"';

            @media (min-width: $screen-sm-min) {
                top: 5px;
                left: -55px;
                font-size: 80px;
            }
        }
    }

    .story_content_paragraph {
        position: relative;
        color: $white;

        @extend .paragraph_style02;

        &.quoted {

            &::before {
                position: absolute;
                top: -10px;
                left: -25px;
                font-size: 50px;
                line-height: 80px;
                color: $brand-carmine;
                content: '"';

                @media (min-width: $screen-sm-min) {
                    left: -55px;
                    font-size: 80px;
                }
            }
        }
    }
</style>
