<template>
	<div class="background-one">
        <img class="background-one_emblem" :src="emblem" alt="emblem">
        <div v-if="intro || content" class="container">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-2">
                    <global-content-wysiwyg
                        :intro="intro"
                        :content="content"
                        :buttons="buttons"
                    ></global-content-wysiwyg>
                </div>
            </div>
        </div>
		<slot></slot>
	</div>
</template>

<script>
    import GlobalContentWysiwyg from './GlobalContentWysiwyg';

	export default {
		name: 'global-background-one',
        components: {
            GlobalContentWysiwyg,
        },
        props: {
            intro: {
                type: String
            },
            content: {
                type: String
            },
            buttons: {
                type: Array,
            },
            emblem: {
                type: String
            }
        }
	}
</script>

<style lang="scss">
    .hero + .background-one {
        padding-top: 55px;

        @media (min-width: $screen-sm-min) {
            padding-top: 220px;
        }
    }

    .background-one {
        position: relative;
        padding: 110px 0;
        background-color: $brand-white;
        background-image:
            url('../static/images/background_one-slash.svg'),
            url('../static/images/background_one-texture.png'),
            url('../static/images/background_one-texture2.png');
        background-repeat: no-repeat;
        background-position:
            top 76px right 26px,
            top right,
            top left;
        background-size:
            695px,
            288px,
            288px;
    }

    .background-one_emblem {
        display: none;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            top: 115px;
            right: 0;
            z-index: 8;
            display: block;
            width: 144px;
        }
    }
</style>
