<template>
	<div class="emblem-spread">
        <ul class="emblem-spread_list">
            <li v-for="emblem in emblems" class="emblem-spread_item"><img class="emblem-spread_img" :src="emblem.image" :alt="emblem.alt" /></li>
        </ul>
	</div>
</template>

<script>
	export default {
		name: 'global-emblem-spread',
        props: {
            emblems: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .emblem-spread {
        padding: 100px 15px;
        background-color: $brand-white;
        background-image: url('../static/images/background_emblem-spread.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        @media (min-width: $screen-md-min) {
            padding: 190px 15px;
        }
    }

    .emblem-spread_list {
        text-align: center;
    }

    .emblem-spread_item {
        display: inline-block;
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 80px;
        vertical-align: middle;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 55px;
        }

        @media (min-width: $screen-md-min) {
            margin-right: 110px;
            margin-bottom: 0;
        }

        &:first-child {

            @media (min-width: $screen-sm-min) {
                margin-right: 100px;
            }
        }

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    .emblem-spread_img {
        display: block;
        max-height: 250px;
    }

    .background-sidebared {

        .emblem-spread {
            padding: 0;
            margin-bottom: 60px;
            background-image: none;
        }

        .emblem-spread_item {

            @media (min-width: $screen-md-min) {
                max-width: 150px;
                max-height: 150px;
            }
        }

        .emblem-spread_img {

            @media (min-width: $screen-md-min) {
                max-height: 150px;
            }
        }
    }
</style>
