<template>
	<div class="component">
		<p>Test Component. Hello.</p>
	</div>
</template>

<script>
	export default {
		name: 'global-component'
	}
</script>

<style lang="scss">
    .component {
        width: 100%;
        height: 60px;
        background-color: #efefef;
    }
</style>
