<template>
	<div class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="logo" href="/"><span class="access-hidden">Home Page</span><svg><use xlink:href="../static/images/app.svg#logo"></use></svg></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <svg class="footer_accent_emblem">
                <use xlink:href="../static/images/app.svg#emblem_indy_square"></use>
            </svg>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <h3 v-if="address.title" class="footer_header02" v-text="address.title"></h3>
                        <span v-html="address.content"></span>
                        <a v-if="address.button" class="btn-global red" :href="address.button.url" v-text="address.button.name"></a>
                    </div>
                    <div class="col-sm-8 col-md-6 footer_list_group">
                        <div v-if="footermenu01" class="footer_list_wrap">
                            <h3 class="footer_header01" v-text="footermenu01.title"></h3>
                            <ul class="footer_list">
                                <li v-for="item in footermenu01.menu" class="footer_list_item"><a class="footer_list_link" :href="item.url" v-text="item.name"></a></li>
                            </ul>
                        </div>
                        <div v-if="footermenu02" class="footer_list_wrap">
                            <h3 class="footer_header01" v-text="footermenu02.title"></h3>
                            <ul class="footer_list">
                                <li v-for="item in footermenu02.menu" class="footer_list_item"><a class="footer_list_link" :href="item.url" v-text="item.name"></a></li>
                            </ul>
                        </div>
                        <div v-if="footermenu03" class="footer_list_wrap">
                            <h3 class="footer_header01" v-text="footermenu03.title"></h3>
                            <ul class="footer_list">
                                <li v-for="item in footermenu03.menu" class="footer_list_item"><a class="footer_list_link" :href="item.url" v-text="item.name"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <ul v-if="actionlinks" class="footer_btn-group">
                            <li v-for="item in actionlinks" class="footer_btn-group_item"><a class="btn-global white" :href="item.url" v-text="item.name"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'global-footer',
        props: {
            address: {
                type: Object,
                required: false
            },
            footermenu01: {
                type: Object,
            },
            footermenu02: {
                type: Object,
            },
            footermenu03: {
                type: Object,
            },
            actionlinks: {
                type: Array,
            }
        }
	}
</script>

<style lang="scss">
    .footer {
        position: relative;
        z-index: 19;
        background-color: #202020;
    }

    .footer_top {
        width: 100%;
        height: 56px;
        background-color: $brand-black;

        @media (min-width: $screen-lg-min) {
            height: 100px;
        }

        .logo {

            svg {
                display: block;
                float: left;
                width: 326px;
                height: 19px;
                margin-top: 40px;
                fill: $white;

                @media screen and (max-width: 1024px) {
                    width: 266px;
                    height: 15px;
                    margin-top: 21px;
                }
            }
        }
    }

    .footer_bottom {
        position: relative;
        padding: 80px 0 40px;
        background-color: #202020;
        background-image: url(../static/images/background_footer-hound.svg);
        background-repeat: no-repeat;
        background-position: top 27px left -400px;
        background-size: 850px;

        @media (min-width: $screen-md-min) {
            padding: 80px 0;
        }

        p {
            @include global-paragraph_03(#919191);

            margin-bottom: 18px;

            a {
                color: #919191;

                @extend .standard_transition;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .footer_header01 {
        margin-bottom: 20px;
        font-family: Clarke;
        font-size: 25px;
        line-height: (25 / 25);
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }

    .footer_header02 {
        @include global-label($white);

        margin-bottom: 5px;
    }

    .footer_list_group {
        margin-top: 60px;

        @media (min-width: $screen-sm-min) {
            display: flex;
            margin-top: 0;
        }

        &::after {

            @extend .clearfix;
        }
    }

    .footer_list_wrap {
        float: left;
        width: 33.3333%;
        padding-right: 5px;

        @media (min-width: $screen-sm-min) {
            float: none;
            padding-left: 10px;
        }

        @media (min-width: $screen-md-min) {
            padding-left: 36px;
        }
    }

    .footer_list_item {
        @include global-paragraph_03(#919191);

        margin-bottom: 3px;
    }

    .footer_list_link {
        color: #919191;

        @extend .standard_transition;

        &:hover {
            color: $white;
        }
    }

    .footer_btn-group {
        margin-top: 60px;

        @media (min-width: $screen-sm-min) {
            margin-top: 30px;
        }

        @media (min-width: $screen-md-min) {
            margin-top: 0;
        }
    }

    .footer_btn-group_item {
        margin-bottom: 30px;
    }

    .footer_accent_emblem {
        position: absolute;
        top: -10px;
        right: 15px;
        width: 64px;
        height: 64px;
        fill: $brand-carmine;

        @media (min-width: $screen-sm-min) {
            top: -32px;
            right: 64px;
        }
    }
</style>
