<template>
    <div class="number-banner">
        <div class="number-banner_content">
            <div class="header_style01" v-text="number"></div>
            <div class="header_style04 black" v-text="statistic"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'global-number-banner',
        props: {
            number: {
                type: String,
                required: true
            },
            statistic: {
                type: String,
                required: true
            }
        }
    }
</script>

<style lang="scss">
    .number-banner {
        position: relative;
        display: flex;
        align-items: center;
        height: 250px;
        padding: 0 15px;
        margin-bottom: 60px;
        background-image: url('../static/images/patter_hero-dots.svg');
        background-position: top left;
        border: 5px solid $brand-carmine;

        @media (min-width: $screen-sm-min) {
            height: 400px;
        }

        /* -- &::after {
            position: absolute;
            top: calc(50% - 6px);
            left: -20%;
            z-index: 0;
            width: calc(100vw - 140px);
            height: 6px;
            content: '';
            border-top: 1px solid $brand-black;
            border-bottom: 1px solid $brand-black;
        } -- */

        &:last-child {
            margin-bottom: 0;
        }

        .header_style01 {
            margin-bottom: 0;
        }
    }

    .number-banner_content {
        display: table;
        margin: 0 auto;
        text-align: center;
    }
</style>
