<template>
	<div class="accordion">
		<!-- <div v-for="block in blocks" class="accordion_block" v-on:click="activeBlock = block" v-bind:class="{'active': activeBlock == block }">
			<button class="accordion_header"><h3 v-text="block.title">Section Title</h3></button>
            <div class="accordion_content">
                <global-content-wysiwyg
                    :content="block.content"
                ></global-content-wysiwyg>
            </div>
		</div> -->
        <slot>

        </slot>
	</div>
</template>

<script>
    import GlobalContentWysiwyg from './GlobalContentWysiwyg';

	export default {
		name: 'global-accordion',
        components: {
            GlobalContentWysiwyg,
        },
        data() {
            return {
                activeBlock: undefined,
            }
        },
        methods: {
            activateBlock: function(event) {
                var clickedBtn = event.currentTarget;

                console.log('testing');

                console.log(this.$refs.blocks.indexOf(clickedBtn));
            }
        }
	}
</script>

<style lang="scss">
    .accordion_block {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &.active {

            .accordion_header {
                color: $brand-white;
                background-color: $brand-carmine;

                &::after {
                    transform: rotate(45deg);
                }
            }

            .accordion_content {
                max-height: 4000px;
                padding: 20px 24px;
                opacity: 1;
            }
        }
    }

    .accordion_header,
    .accordion_content {
        background-color: $white;

        @extend .standard_transition;
    }

    .accordion_header {
        @include global-label($brand-black);

        position: relative;
        display: block;
        width: 100%;
        padding: 20px 24px;
        text-align: left;
        cursor: pointer;
        border: none;

        &::after {
            position: absolute;
            top: 18px;
            right: 26px;
            font-size: 24px;
            color: inherit;
            content: '+';

            @extend .standard_transition;
        }
    }

    .accordion_content {
        max-height: 0;
        padding: 0 24px;
        overflow: hidden;
        opacity: 0;
    }
</style>
