<template>
	<div class="stat-section" style="background-image: url('../static/images/background_stat-section.jpg');">
        <div class="stat-section_content">
            <h2 class="header_style04" v-text="title"></h2>
            <p class="paragraph_style03" v-text="paragraph"></p>
            <a class="link_read-more label_style01 chevroned" :href="link.url" v-text="link.name">Read More</a>
        </div>
        <ul v-if="stats" class="stat-section_list">
            <li v-for="stat in stats" class="stat-section_item">
                <div class="stat-section_item_details">
                    <span class="stat-section_item_number" v-text="stat.number"></span>
                    <span class="stat-section_item_text" v-text="stat.text"></span>
                </div>
            </li>
        </ul>
	</div>
</template>

<script>
	export default {
		name: 'global-stat-section',
        props: {
            title: {
                type: String,
                required: true
            },
            paragraph: {
                type: String,
                required: true
            },
            link: {
                type: Object,
                required: false
            },
            stats: {
                type: Array,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .stat-section {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            padding: 70px;
        }

        @media (min-width: $screen-md-min) {
            padding: 170px 70px;
        }
    }

    .stat-section_content {
        padding: 50px 15px;
        background-color: rgba(247, 247, 247, 0.9);

        @media (min-width: $screen-sm-min) {
            padding: 50px;
            margin-bottom: 40px;
        }

        @media (min-width: $screen-md-min) {
            max-width: 550px;
            margin-bottom: 0;
        }
    }

    .stat-section_list {
        display: block;
        width: 100%;
        height: 120px;
        padding: 0;
        font-size: 0;
        background-color: rgba(0, 0, 0, 0.8);

        @media (min-width: $screen-sm-min) {
            height: 230px;
        }

        @media (min-width: $screen-md-min) {
            position: absolute;
            top: 0;
            right: 70px;
            width: 230px;
            height: 100%;
            padding: 0 27px;
        }
    }

    .stat-section_item {
        position: relative;
        display: inline-block;
        width: 33.3333%;
        height: 100%;
        padding: 0 15px;
        vertical-align: top;

        @media (min-width: $screen-md-min) {
            display: block;
            width: auto;
            height: 33.3333%;
            padding: 0;
            vertical-align: baseline;
        }

        &::after {
            position: absolute;
            top: 27px;
            right: -5px;
            bottom: auto;
            display: block;
            width: 10px;
            height: calc(100% - 52px);
            content: '';
            border-top: none;
            border-right: 2px solid $white;
            border-bottom: none;
            border-left: 2px solid $white;

            @media (min-width: $screen-md-min) {
                top: auto;
                right: auto;
                bottom: -5px;
                width: 100%;
                height: 10px;
                border-top: 2px solid $white;
                border-right: none;
                border-bottom: 2px solid $white;
                border-left: none;
            }
        }

        &:last-child::after {
            display: none;
        }
    }

    .stat-section_item_details {
        position: relative;
        top: 50%;
        vertical-align: middle;
        transform: translate(0, -50%);
    }

    .stat-section_item_number,
    .stat-section_item_text {
        display: block;
        text-align: center;
    }

    .stat-section_item_number {
        font-family: 'United Sans Regular Medium';
        font-size: 30px;
        line-height: (60 / 50);
        color: $brand-yellow;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media (min-width: $screen-sm-min) {
            font-size: 50px;
        }
    }

    .stat-section_item_text {
        @include global-paragraph_03($white);
    }
</style>
