<template>
	<div class="accordion_block" v-bind:class="{ 'active': openMode == true }">
        <button class="accordion_header" v-on:click="openMode = !openMode" ><h3 v-text="title"></h3></button>
        <div class="accordion_content">
        	<slot></slot>
        </div>
    </div>
</template>

<script>
	export default {
		name: 'global-accordion-panel',
		data() {
			return {
				openMode: false
			}
		},
		props: {
			title: {
				type: String,
				required: true
			}
		}
	}
</script>
