<template>
	<div class="fixed-sidebar" ref="sidebarWrap">
		<div v-if="menu" class="fixed-sidebar_block">
            <h6 class="label_style01">{{ menu.title }} //</h6>
            <ul class="fixed-sidebar_list">
                <li v-for="item in menu.navigation" class="fixed-sidebar_list_item"><a class="fixed-sidebar_list_link" :href="item.url" v-text="item.name"></a></li>
            </ul>
		</div>
        <div v-if="calltoaction" class="fixed-sidebar_block">
            <h6 class="label_style01">{{ calltoaction.title }} //</h6>
            <p class="fixed-sidebar_p" v-text="calltoaction.paragraph"></p>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'global-fixed-sidebar',
        data() {
            return {
                originalPosition: undefined,
                currentPosition: undefined,
            }
        },
        props: {
            menu: {
                type: Object,
                required: false
            },
            calltoaction: {
                type: Object,
                required: false
            }
        },
        methods: {
            sidebarTrack: function() {
                this.currentPosition = this.$refs.sidebarWrap.getBoundingClientRect().top - 200;

                if ( window.scrollY >= this.originalPosition ) {
                    this.$refs.sidebarWrap.classList.add('active');
                } else {
                    this.$refs.sidebarWrap.classList.remove('active');
                }
            },
            sidebarResize: function() {
                var parentWidth = this.$refs.sidebarWrap.parentElement.offsetWidth - 30;
                this.$refs.sidebarWrap.style.width = parentWidth + "px";
            },
            offset: function(el) {
                var rect = el.getBoundingClientRect(),
                scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
                scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
            }
        },
        mounted() {
            this.originalPosition = this.offset(this.$refs.sidebarWrap).top - 200;
            this.sidebarResize();
        },
        created() {
            window.addEventListener('scroll', this.sidebarTrack);
            window.addEventListener('resize', this.sidebarResize);
        },
	}
</script>

<style lang="scss">
    .fixed-sidebar {
        z-index: 19;
        display: none;

        @media (min-width: $screen-md-min) {
            display: block;
        }

        &.active {
            position: fixed;
            top: 200px;
        }
    }

    .fixed-sidebar_block {
        padding: 22px;
        background-color: $brand-white;
        border: 2px solid #babcbf;

        @media (min-width: $screen-lg-min) {
            padding: 38px;
        }
    }

    .fixed-sidebar_block + .fixed-sidebar_block {
        margin-top: 40px;
    }

    .label_style01 + .fixed-sidebar_list,
    .label_style01 + .fixed-sidebar_p {
        margin-top: 12px;
    }

    .fixed-sidebar_p,
    .fixed-sidebar_list_item {
        font-family: 'Roboto';
        font-size: 12px;
        line-height: (22 / 12);
        color: $brand-black;
        letter-spacing: 0.015em;
    }

    .fixed-sidebar_list_item {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .fixed-sidebar_list_link {
        color: $brand-black;

        @extend .standard_transition;

        &:hover {
            color: $brand-carmine_hover;
        }
    }
</style>
