<template>
	<div class="brand-banner" :style="'background-image: url(' + image + ')'">
        <img v-if="emblem" class="brand-banner_emblem" :src="emblem" alt="UIndy icon">
	</div>
</template>

<script>
	export default {
		name: 'global-brand-banner',
        props: {
            image: {
                type: String,
                required: true
            },
            emblem: {
                type: String,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .brand-banner {
        position: relative;
        height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            height: 550px;
        }

        &::before {
            display: none;
            content: '';

            @media (min-width: $screen-sm-min) {
                position: absolute;
                top: 0;
                left: 115px;
                display: block;
                width: 186px;
                height: 100%;
                background-color: rgba(162, 26, 63, 0.8);
                background-image: url('../static/images/background_brand-banner_pattern.svg');
                background-position: center;
                background-position: top;
                background-size: 200%;
            }
        }
    }

    .brand-banner_emblem {
        display: none;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            top: 70px;
            left: 80px;
            display: block;
            width: 86px;
        }
    }
</style>
