<template>
    <div class="styleguide-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <div class="styleguide-header_wrap">
                        <h2 class="styleguide-header" v-text="title">TEXT WILL POP UP HERE</h2>
                        <button class="styleguide-block_button" v-on:click="drawerOpen = !drawerOpen" v-bind:class="{ active: drawerOpen }">
                            <svg><use xlink:href="../static/images/app.svg#icon_arrow"></use></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="styleguide-block_drawer" v-bind:class="{ active: drawerOpen }">
          <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'guide-block',
        data() {
            return {
                drawerOpen: false,
            }
        },
        props: {
            title: {
                type: String,
                required: true,
            }
        }
    };
</script>

<style lang="scss">
    .styleguide-block {
        position: relative;
        counter-increment: styleguide-block;

        @extend .standard_transition;
    }

    .styleguide-header_wrap {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 6px solid $brand-black;

        &::before {
            @include global-header_04($brand-gray);

            position: absolute;
            top: 0;
            left: -80px;
            content: counter(styleguide-block) '.0';
        }

        .container {
            position: relative;
        }
    }

    .styleguide-header {
        @include global-header_04($brand-carmine);

        z-index: 1;
        display: inline-block;
        text-transform: uppercase;
        background-color: $brand-white;
    }

    .styleguide-block_button {
        float: right;
        width: 31px;
        height: 31px;
        padding: 0;
        margin-top: 15px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        appearance: none;

        svg {
            width: 18px;
            height: 31px;
            fill: $brand-carmine;
            transform: rotate(90deg);

            @extend .standard_transition;
        }

        &.active svg {
            transform: rotate(-90deg);
        }
    }

    .styleguide-subhead {
        @include global-header_04($brand-carmine);

        margin-bottom: 10px;
    }

    .styleguide-block_drawer {
        max-height: 0;
        padding-top: 0;
        overflow: hidden;
        opacity: 0;

        @extend .standard_transition;

        &.active {
            max-height: 4000px;
            margin-bottom: 40px;
            opacity: 1;

            @media (min-width: $screen-md-min) {
                padding-top: 80px;
                margin-bottom: 90px;
            }
        }
    }

    .styleguide_wrap {
        padding: 180px 0;
        background-color: $brand-white;
    }

    .styleguide_row {
        margin-bottom: 30px;
    }

    .styleguide_color-node {

        img {
            width: 100%;
        }
    }
</style>
