<template>
	<div class="home-footer-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-footer-banner_content">
                        <div class="centered">
                            <h2>
                                <span class="header_style04" v-text="titlelead"></span>
                                <span class="home-slider_header" v-html="titlemain"></span>
                            </h2>
                            <a v-if="link" class="home-footer-banner_link" :href="link.url" v-text="link.name"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>

<script>
	export default {
		name: 'home-footer-banner',
        props: {
            titlelead: {
                type: String,
                required: true
            },
            titlemain: {
                type: String,
                required: true
            },
            link: {
                type: Object,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .home-footer-banner {
        height: 200px;
        background-image: url('../static/images/background_home-footer.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            height: 415px;
        }
    }

    .home-footer-banner_content {
        height: 300px;
        padding: 15px;
        margin-top: -150px;
        text-align: center;
        background-image: url('../static/images/background_footer-banner_content.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            height: 560px;
            margin-top: -280px;
        }

        .header_style04 {
            color: $white;
        }
    }

    .home-footer-banner_link {
        @include global-header_05($brand-yellow);

        display: inline-block;
        padding-bottom: 5px;
        margin-top: 10px;
        border-bottom: 3px solid $brand-yellow;

        @extend .standard_transition;

        &:hover {
            color: $white;
        }
    }
</style>
