<template>
    <div class="home-content">
        <div class="home-content_left">
            <span v-if="decorativetext" class="home-content_left_accent" v-text="decorativetext"></span>
            <ul class="home-content_emblem-list">
                <li v-if="emblemstitle" class="home-content_emblem-list_item"><h3 class="home-content_left-label" v-text="emblemstitle"></h3></li>
                <li v-for="emblem in emblems" class="home-content_emblem-list_item"><img class="home-content_emblem" :src="emblem.image" :alt="emblem.alt" /></li>
            </ul>
        </div>
        <div class="home-content_right">
            <h2 class="home-content_header01" v-text="title"></h2>
            <div class="home-content_thumbnail" :style="'background-image: url(' + image + ')'">
                <div class="home-content_thumbnail_content">
                    <h3 class="home-content_thumbnail_header" v-text="content.title"></h3>
                    <a class="home-content_thumbnail_label" :href="content.link.url">{{ content.link.name }}<svg><use xlink:href="../static/images/app.svg#icon_chevron"></use></svg></a>
                </div>
            </div>
            <div class="home-content_right_accent"></div>
        </div>
    </div>
</template>

<script>
	export default {
		name: 'home-special-content',
        props: {
            title: {
                type: String,
                required: true,
            },
            image: {
                type: String,
                required: true
            },
            content: {
                type: Object,
                required: true
            },
            emblemstitle: {
                type: String,
                required: false
            },
            emblems: {
                type: Array,
                required: true
            },
            decorativetext: {
                type: String,
                required: false
            }
        }
	}
</script>

<style lang="scss">
    .home-content {
        position: relative;
        z-index: 1;
        background-image: url('../static/images/background_one-texture.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 288px;

        @media (min-width: $screen-sm-min) {
            display: flex;
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            width: 60%;
            height: 15px;
            content: '';
            background-color: $brand-black;
        }
    }

    .home-content_left,
    .home-content_right {
        position: relative;
        padding: 100px 15px;

        @media (min-width: $screen-sm-min) {
            padding: 110px 15px;
        }
    }

    .home-content_left {
        background-image: url('../static/images/background_home-left.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            width: 43%;
        }
    }

    .home-content_right {
        position: relative;
        z-index: 2;
        padding-bottom: 0;

        @media (min-width: $screen-sm-min) {
            width: 57%;
        }
    }

    .home-content_left_accent {
        display: none;

        @media (min-width: $screen-md-min) {
            position: absolute;
            bottom: -20px;
            left: 15px;
            z-index: 0;
            display: block;
            font-family: 'United Sans Regular Medium';
            font-size: 143px;
            line-height: (143 / 143);
            color: $brand-white;
            text-transform: uppercase;
            letter-spacing: 0.075em;
            transform: rotate(-90deg);
            transform-origin: left top;
        }

        &::after {
            content: '';

            @media (min-width: $screen-md-min) {
                position: absolute;
                top: 25px;
                left: -150px;
                width: calc(100% + 300px);
                height: 10px;
                border-top: 2px solid $brand-black;
                border-bottom: 2px solid $brand-black;
            }
        }
    }

    .home-content_left-label {
        font-family: 'United Sans Regular Medium';
        font-size: 20px;
        line-height: (30 / 20);
        color: $brand-black;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .home-content_header01 {
        position: relative;
        z-index: 1;
        max-width: 550px;
        margin: 0 0 45px;
        font-size: 65px;
        text-align: center;

        @extend .header_style01;

        @media (min-width: $screen-sm-min) {
            margin: 0 auto 145px;
            font-size: 120px;
            text-align: left;
        }

        @media (min-width: $screen-md-min) {
            font-size: 170px;
        }
    }

    .home-content_emblem-list {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        font-size: 0;
    }

    .home-content_emblem-list_item {
        display: block;
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        margin: 0 auto 80px;

        @media (min-width: $screen-sm-min) {
            max-width: 180px;
            max-height: 180px;
        }

        @media (min-width: $screen-md-min) {
            margin: 0 auto 100px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .home-content_emblem {
        display: block;
    }

    .home-content_thumbnail {
        position: relative;
        z-index: 1;
        height: 585px;
        margin: 0 -15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            bottom: -85px;
            left: -17px;
            width: 815px;
            max-width: calc(100% + 17px);
            margin: 0;
        }
    }

    .home-content_thumbnail_content {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 40px 50px;
        background-color: rgba(162, 26, 63, 0.8);

        @media (min-width: $screen-md-min) {
            right: 30px;
            bottom: 30px;
            left: 30px;
            padding: 40px 70px;
        }

        @media (min-width: $screen-lg-min) {
            right: 115px;
            bottom: 85px;
            left: 115px;
        }

        &::before {
            position: absolute;
            top: 50px;
            left: 0;
            width: 24px;
            height: 10px;
            content: '';
            border-top: 2px solid $white;
            border-bottom: 2px solid $white;
        }
    }

    .home-content_thumbnail_header {
        margin-bottom: 20px;
        font-family: 'United Sans Regular Medium';
        font-size: 30px;
        line-height: (40 / 35);
        color: $brand-white;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .home-content_thumbnail_label {
        @include global-label($white);

        &:hover svg {
            margin-left: 20px;
        }

        svg {
            display: inline-block;
            width: 18px;
            height: 17px;
            margin-left: 12px;
            vertical-align: middle;
            fill: $white;

            @extend .standard_transition;
        }
    }

    .home-content_right_accent {
        position: absolute;
        top: 370px;
        left: -60px;
        z-index: 0;
        width: 100%;
        max-width: 590px;
        height: 358px;
        background-image: url('../static/images/patter_hero-dots.svg');
        background-position: top left;
    }
</style>
