<template>
	<div class="home-cta">
        <img v-if="image" class="home-cta_thumbnail" :src="image.src" :alt="image.alt">
		<div class="container">
			<div v-for="cta in ctalist" class="row home-cta_row">
				<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<div class="home-cta_item" v-text="cta.title"></div>
				</div>
				<div class="col-sm-2 col-md-offset-1">
                    <img v-if="cta.image" class="home-cta_emblem" :src="cta.image" alt="emblem">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'home-cta',
        props: {
            image: {
                type: Object,
                required: false
            },
            ctalist: {
                type: Array,
                required: true
            }
        }
	}
</script>

<style lang="scss">
    .home-cta {
        position: relative;
        padding: 100px 0;
        padding-bottom: 250px;
        background-color: #e6e6e2;
        background-image: url('../static/images/background_one-slash.svg');
        background-repeat: no-repeat;
        background-position: top 240px right -200px;
        background-size: 695px;

        @media (min-width: $screen-sm-min) {
            padding: 200px 0;
            padding-bottom: 480px;
        }

        &::before {
            display: none;
            content: '';

            @media (min-width: $screen-sm-min) {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 290px;
                height: 100%;
                background-color: $white;
                background-image: url('../static/images/background_home-cta_accent.svg');
                background-repeat: no-repeat;
                background-position: center left -260px;
                background-size: 480px;
            }
        }
    }

    .home-cta_thumbnail {
        display: none;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            top: calc(50% - 125px);
            left: -125px;
            z-index: 0;
            display: block;
            border: 8px solid $brand-black;
        }

        @media (min-width: $screen-md-min) {
            left: 15px;
        }

        @media (min-width: $screen-lg-min) {
            left: 77px;
        }
    }

    .home-cta_row {
        z-index: 3;
        margin-bottom: 80px;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 180px;
        }

        &:last-child {
            margin-bottom: 0;

            .home-cta_item::after {
                display: none;
            }
        }
    }

    .home-cta_item {
        position: relative;
        text-align: center;

        @extend .header_style03;

        &::after {
            display: none;
            content: '//';

            @media (min-width: $screen-sm-min) {
                position: absolute;
                right: 0;
                bottom: -125px;
                left: 0;
                display: block;
                font-size: 50px;
                color: $brand-black;
            }
        }
    }

    .home-cta_emblem {
        display: table;
        width: 50%;
        margin: 0 auto;

        @media (min-width: $screen-sm-min) {
            width: auto;
            margin: 0;
        }
    }
</style>
