<template>
    <div class="home-slider" v-on:mouseover="focusMode = true" v-on:mouseleave="focusMode = false">
        <div ref="slider" class="slider" v-resize="slideResize">
            <div ref="rail" class="slider_rail" v-bind:class="{ 'e-break': transitioning == false }" v-on:transitionend="slideTransitionEnd()">
                <div v-for="slide in slides" class="slide" :style="'background-image: url(' + slide.image +');'">
                    <div class="home-slide_content centered">
                        <h2 class="home-slider_header" v-html="slide.title"></h2>
                        <ul v-if="slide.buttons" class="header-slider_btn-list btn-global_list">
                            <li v-for="button in slide.buttons" class="btn-global_list-item">
                                <a v-on:click="modalPlay(button, $event)" class="btn-global red auto-width" :href="button.url">{{ button.name }}<svg v-if="button.video"><use xlink:href="../static/images/app.svg#icon_play-btn"></use></svg></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="slider_dots" role="navigation" aria-label="Carousel Item List">
            <li v-for="slide in slides" class="slider_dots_item">
                <button class="slider_dots_button" v-bind:class="{ active: activeSlide === slides.indexOf(slide) + 1 }" v-on:click="slideDotTrigger(slide)"><span class="access-hidden">Carousel Navigation Item</span></button>
            </li>
        </ul>
        <div v-if="buttons" class="home-slider_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <ul class="home-slider_nav">
                            <li v-for="button in buttons" class="home-slider_nav_item"><a class="home-slider_nav_link" :href="button.url">{{ button.name }}<svg><use xlink:href="../static/images/app.svg#icon_chevron"></use></svg></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slider_modal" v-for="slide in slides">
            <span v-for="button in slide.buttons" v-if="button.video">
                <global-modal ref="modal">
                    <global-video
                        :youtubeid="button.video.youtubeid"
                        :videoimage="button.video.videoimage"
                    ></global-video>
                </global-modal>
            </span>
        </div>
    </div>
</template>

<script>
    import GlobalModal from './GlobalModal';
    import GlobalVideo from './GlobalVideo';

    import resize from 'vue-resize-directive';

	export default {
		name: 'home-slider',
        directives: {
            resize,
        },
        components: {
            GlobalModal,
            GlobalVideo
        },
        data() {
            return {
                activeSlide: 1,
                slideCount: null,
                transitioning: false,
                stop: false,
                focusMode: false,
                videoCount: null,
            }
        },
        props: {
            slides: {
                type: Array,
                required: true
            },
            buttons: {
                type: Array,
                required: false
            }
        },
        methods: {
            slideDuplicate: function() {
                var fakelist = this.$refs.slider.getElementsByClassName("slide");
                var slideList = [];

                for (var i = 0; i < fakelist.length; i++) {
                    slideList.push(fakelist[i]);
                };

                this.slideCount = slideList.length;

                // Need to clone the first and last slides and append and prepend them to the end and beginning of our slide list

                var firstSlideClone = slideList[0].cloneNode(true);
                var lastSlideClone = slideList[slideList.length - 1].cloneNode(true);

                this.$refs.rail.insertBefore(lastSlideClone, this.$refs.rail.childNodes[0]);
                this.$refs.rail.appendChild(firstSlideClone);
            },
            slideResize: function() {
                // This snippet turns an HTMLCOLLECTION into a true javascript array because getElementByClassName is a useless method sometimes

                var fakelist = this.$refs.slider.getElementsByClassName("slide");
                var slideList = [];

                for (var i = 0; i < fakelist.length; i++) {
                    slideList.push(fakelist[i]);
                };
                // End snippet

                // Get current height and width of the slider container
                var currentHeight = this.$refs.slider.offsetHeight;
                var currentWidth = this.$refs.slider.offsetWidth;

                // Apply that height and width to every slide in your slider
                for (var slide in slideList) {
                    slideList[slide].style.height = currentHeight + "px";
                    slideList[slide].style.width = currentWidth + "px";
                }

                // Set the slider rail width to facilitate the correct number of slides. Not neccesary for this example.
                // this.$refs.rail.style.width = (currentWidth * slideList.length) + "px";

                //Initialize the starting position of the slider

                Velocity(this.$refs.rail, { translateX: -currentWidth }, 0);
                // this.$refs.rail.style.transform = "translateX(-" + sliderWidth + "px)";
            },
            slideMove: function(i) {
                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;
                var styleList = window.getComputedStyle(theRail);
                var currentPosition = styleList.getPropertyValue('left');
                var direction = i;
                var moveToSlide;

                // This vue component comes with a transitioning data flag set to false by default.
                // When the function starts, we check to make sure the flag isnt true to prevent transition conflicts
                if (this.transitioning === false) {

                    // Set the afformentioned flag to true so the button can't be clicked again until the transition is done.
                    this.transitioning = true;

                    if (direction == "right") {
                        if (this.activeSlide == this.slideCount) {
                            moveToSlide = this.activeSlide + 1;
                            this.activeSlide = 1;

                        } else {
                            this.activeSlide += 1;
                            moveToSlide = this.activeSlide;
                        }
                    } else if (direction == "left") {
                        if (this.activeSlide == 1) {
                            moveToSlide = this.activeSlide -1;
                            this.activeSlide = this.slideCount;

                        } else {
                            this.activeSlide -= 1;
                            moveToSlide = this.activeSlide;
                        }
                    }

                    var newPosition = sliderWidth * moveToSlide;
                    Velocity(theRail, {
                        translateX: -newPosition
                    }, {
                        duration: 400,
                        easing: 'easeInOutCubic',
                        complete: function() {
                            component.slideTransitionEnd();
                        }
                    });

                    // theRail.style.transform = "translateX(-" + newPosition + "px)";
                }
            },
            slideDotTrigger: function(i) {
                // This method is being used for explicit slide changes using the dots. Some of what is here is a duplicate
                // of the stuff going on up to in slideMove. This will be cleaned later

                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;
                var newSlide;

                // This vue component comes with a transitioning data flag set to false by default.
                // When the function starts, we check to make sure the flag isnt true to prevent transition conflicts

                if (this.transitioning === false) {

                    this.transitioning = true;
                    this.activeSlide = this.slides.indexOf(i) + 1;

                    newSlide = this.activeSlide;

                    var newPosition = sliderWidth * newSlide;

                    Velocity(theRail, {
                        translateX: -newPosition
                    }, {
                        duration: 400,
                        easing: 'easeInOutCubic',
                        complete: function() {
                            component.slideTransitionEnd();
                        }
                    });
                }
            },
            slideTransitionEnd: function() {
                var component = this;
                var theRail = this.$refs.rail;
                var sliderWidth = theRail.parentNode.offsetWidth;

                component.transitioning = false;

                if (component.activeSlide == 1) {
                    Velocity(theRail, { translateX: -sliderWidth }, 0);
                    // theRail.style.transform = "translateX(-" + sliderWidth + "px)";
                } else if (component.activeSlide == component.slideCount) {
                    Velocity(theRail, { translateX: -(sliderWidth * component.slideCount) }, 0);
                    // theRail.style.transform = "translateX(-" + (sliderWidth * component.slideCount) + "px)";
                }
            },
            slideAutoChange: function() {
                var slider = this;
                setInterval(function(){
                    if (slider.focusMode == false) {
                        slider.slideMove('right');
                    } else {
                        // Do nothing.
                    }
                }, 6000);
            },
            modalPlay: function(button, event) {
                var clickedBtn = event.currentTarget;
                var modalSource = button;

                for (var video in this.$refs.modal) {

                    if (this.$refs.modal[video].$children[0].youtubeid == modalSource.video.youtubeid) {
                        this.$refs.modal[video].$children[0].$refs.componentBtn.click();
                        this.$refs.modal[video]._data.modalMode = true;

                        break;
                    }
                }
            },
        },
        mounted() {
            var component = this;
            this.slideDuplicate();
            this.slideResize();
            this.slideAutoChange();
        }
	}
</script>

<style lang="scss">
    /* ----------------------------- */

    /* SLIDER BASE STYLES (REUSABLE) */

    /* ----------------------------- */

    .slider {
        position: relative;
        height: 510px;
        overflow: hidden;
    }

    .slider_rail {
        position: absolute;
        top: 0;
        height: 100%;
        font-size: 0;
        white-space: nowrap;

        /* transition: transform 0.2s ease; */
    }

    .slide {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .slider_dots {
        position: absolute;
        bottom: 145px;
        left: 50%;
        display: table;
        margin: 0 auto;
        font-size: 0;
        transform: translateX(-50%);
    }

    .slider_dots_item {
        display: inline-block;
        margin-right: 18px;

        &:last-child {
            margin-right: 0;
        }
    }

    .slider_dots_button {
        display: block;
        width: 10px;
        height: 10px;
        padding: 0;
        cursor: pointer;
        background-color: #a6a6a6;
        border: none;
        border-radius: 10px;
        appearance: none;

        @extend .standard_transition;

        &.active {
            background-color: $brand-carmine;
            border: 1px solid $brand-white;
            transform: scale(1.8, 1.8);
        }
    }

    /* ----------------------------- */

    /* SLIDER STYLE SPECIFIC TO INDY */

    /* ----------------------------- */

    .home-slider {
        position: relative;

        .slider {
            height: calc(100vh - 50px);

            @media (min-width: $screen-sm-min) {
                height: 670px;
            }
        }
    }

    .home-slide_content {
        padding: 0 15px;
    }

    .header-slider_btn-list {
        width: 200px;
        margin: 10px auto 0;

        @media (min-width: $screen-sm-min) {
            display: table;
            width: auto;
        }
    }

    .home-slider_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .home-slider_nav {
        margin-right: -15px;
        margin-left: -15px;
        font-size: 0;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }

    .home-slider_nav_item {
        position: relative;
        display: inline-block;
        width: 33.3333%;

        &::after {
            position: absolute;
            right: calc(0% - 1px);
            width: 2px;
            height: 43px;
            margin-top: 18px;
            content: '';
            background-color: #3f3f3f;
        }

        &:last-child::after {
            content: none;
        }
    }

    .home-slider_nav_link {
        @include global-label($white);

        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        text-align: center;
        vertical-align: middle;
        background-color: $brand-black;

        @extend .standard_transition;

        &:hover {
            background-color: #000;
        }

        svg {
            display: none;

            @media (min-width: $screen-sm-min) {
                display: inline-block;
                width: 18px;
                height: 17px;
                margin-left: 12px;
                vertical-align: middle;
                fill: #3f3f3f;
            }
        }
    }
</style>
